.izm-attention--buh .izm-attention__btn {
  margin-top: 15px;
  margin-left: 0px;


  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.izm-attention--buh .izm-attention__details {
  @media (min-width: $desktop-width) {
    padding: 0 5% 0 39px;
    width: 66%;
  }
}
