.reviews--buh {
  background-color: #fff;

  & .reviews__slogan {
    margin-top: 20px;
  }

  & .reviews__description--main {
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  & .reviews__description {
    font-size: 14px;
    line-height: 25px;
    margin-top: 12px;
  }

  & .reviews__list {
    margin-top: 50px;
  }

  & .review__author img{
    margin-left: 0;
  }

  & .review__text {
    margin-top: 30px;
  }

  & .review__text::before, & .review__text::after {
    content: "";
    position: absolute;
    left: 12%;
    top: -14px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-left: 6px solid #ebebeb;
    border-bottom: 6px solid #ebebeb;
    margin-top: 0px;
  }

  & .review__text::after {
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
    top: -12px;
    left: calc(12% + 1px);
 }
}
