.izm-cases {
  @mixin container;
  /*margin-top: 20px;*/
}

.izm-cases__title {
  margin: 0;
  padding: 0 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 30px;
    line-height: 50px;
  }
}

.izm-cases__list {
  margin-top: 34px;
}

.izm-case {
  margin-bottom: 13px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 19px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: #408fe7;
    cursor: pointer;
    border-radius: 50%;
  }
  &--active::after {
    background: #ff5b5b;
  }
}

.izm-case__title {
  padding: 10px;
  padding-left: 25px;
  padding-right: 80px;
  background: #f6f6f6;
  color: #255a94;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  min-height: 50px;

  @media (min-width: $tablet-width) {
    line-height: 50px;
  }

  &::after, &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 25px;
    top: 35px;
    right: 31px;
    background: #fff;
    z-index: 1;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.izm-case--active .izm-case__title::after {
  display: none;
}

.izm-case__details {
  overflow: hidden;
  padding: 0px 29px;
  max-height: 0px;
  transform-origin: 0 0;
  transition: .4s ease-in-out;
  border: 1px solid #f2f2f2;
}

.izm-case--active .izm-case__details {
  padding: 23px 29px 11px 29px;
  max-height: 5000px;
  line-height: 23px;
}

.izm-case__parameters {
  display: flex;
  flex-wrap: wrap;
}

.izm-case__parameter {
  width: 100%;
  padding-left: 38px;
  background: transparent url('../public/img/check_false.png') 0px 5px no-repeat;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;

  &--true {
    background: transparent url('../public/img/check_true.png') 0px 5px no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 40%;
  }
}

.izm-case__description {
  margin-top: 30px;
  padding: 10px 15px;
  border-left: 1px solid #ff5b5b;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 16px 25px;
  }

}

.izm-case__schema {
  margin-top: 26px;
}

.izm-case__schema-title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
}

.izm-case__schema-steps {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  counter-reset: myCounter;
}

.izm-case__schema-step {
  padding: 30px 0 30px 64px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    width: 20.2%;
    &:nth-child(4n) {
      width: 17%;
    }
  }

  &::before {
    position: absolute;
    counter-increment: myCounter;
    content:counter(myCounter);
    top: 25px;
    left: 0px;
    width: 43px;
    height: 43px;
    border: 1px solid #408fe7;
    border-radius: 50%;
    font-size: 15px;
    line-height: 43px;
    font-weight: 700;
    color: #408fe7;
    text-align: center;
  }
}
