.company {
  @mixin container;
  text-align: center;
}

.company__slogan {
  padding: 0 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 30px;
    line-height: 50px;
  }
}

.company__description {
  padding: 0 10px;
  line-height: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 230px;
  }
}

.company__test-drive {
  @mixin btn;
  background-color: #ff5b5b;
  margin-top: 15px;

  &:hover {
    background-color: #ed5353;
  }

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.company__services {
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 0px;
    margin-top: 50px;
    display: flex;
  }
}

.company__service {
  position: relative;
  width: 25%;

  & img {
    width: 100%;
    height: auto;
  }
}

.service__link {
  @mixin lnk;
  position: absolute;
  top: 10px;
  left: 25px;
  text-align: left;
  margin-top: 5px;
  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }

}
