.company {
  @mixin container;
  text-align: center;
}

.company__slogan {
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
}

.company__description {
  padding: 0 120px;
  line-height: 25px;

  @media (min-width: $desktop-width) {
    padding: 0 230px;
  }
}

.company__test-drive {
  @mixin btn;
  background-color: #ff5b5b;
  margin-top: 30px;

  &:hover {
    background-color: #ed5353;
  }
}

.company__services {
  font-size: 0px;
  margin-top: 50px;
  display: flex;
}

.company__service {
  position: relative;
  width: 25%;

  & img {
    width: 100%;
    height: auto;
  }
}

.service__link {
  @mixin lnk;
  position: absolute;
  top: 10px;
  left: 25px;
  text-align: left;
  margin-top: 5px;
  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }

}
