@media (min-width: $desktop-width) {
  #toggle, .button-toggle, .backbtn {
    display: none;
  }

  .mobilenav-container {
    flex-grow: 1;
    position: static;
    order: 1;
    overflow: initial;
  }

  .mobile-nav {
    margin: 0px;
    display: flex;
    flex-grow: 1;
    pointer-events: auto;
  }

  .main-nav__items {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .main-nav__item {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: $fs_small;
    line-height: $lh_small;
    padding-right: 20px;
    position: relative;



    &--sub::after {
      position: absolute;
      margin-top: -5px;
      top: 50%;
      right: 0;
      content: "";
      border-bottom: 1px solid #ff4848;
      border-left: 1px solid #ff4848;
      width: 7px;
      height: 7px;
      transform: rotate(-45deg);
    }
  }

  .main-nav__item .main-nav__link {
    letter-spacing: normal;
    text-decoration: none;
    font-size: $fs_small;
    color: $text-color;
    text-transform: none;
    transform: none;
    opacity: 1;

    &::before {
      display: none;
    }
  }

  .submenu {
    left: -20px;
    top: 100%;
    width: 180px;
    opacity: 0;
    transform: scaleY(0) translate(0px, 0px);
    z-index: 49;
    min-height: auto;
    
  }
  .main-nav__item:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }
}
