@media (min-width: $desktop-width) {
  .main-nav {
    margin: 0px;
    display: flex;
    flex-grow: 1;
    order: 1;
  }

  .main-nav__items {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    left:0%!important;
  }

  .main-nav__items {
    list-style: none;
    margin:0;
    padding:0;
    position: relative;
    font-size: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .submenu {
    padding: 10px 20px;
    display: flex!important;
    flex-wrap: wrap;
    list-style-type: none;
    background: #fff;
    position: absolute;
    /*left: 0px;
    top: 0px;*/
    /*z-index: 1;*/
    box-sizing: border-box;
    /*width: 100%;*/
    /*min-height: 250px;*/
    opacity: 0;
    transform: scaleY(0) translate(0px, 0px);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    border-top: solid 1px $color-menu;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.21);
  }

  .submenu {
    left: -5px;
    top: 100%;
    width: 580px;
    /*opacity: 0;*/
    /*transform: scaleY(0) translate(0px, 0px);*/
    z-index: 49;
    /*min-height: auto;*/

  }

  .submenu--middle {
    left: -170px;
  }

  .submenu--third {
    left: -330px;
  }


  .submenu__group {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: 45%;
  }

  .submenu__title {
    font-weight: 700;
  }

  .submenu__item {
    white-space: nowrap;
  }

  .submenu__item a {
    text-decoration: none;
    font-size: $fs_small;
    color: $text-color;
    line-height: 30px;

    &:hover {
      color: $color-menu-active;
    }
  }


  .main-nav__item {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: $fs_small;
    line-height: $lh_small;
    padding-right: 20px;
    position: relative;



    &--sub::after {
      position: absolute;
      margin-top: -5px;
      top: 50%;
      right: 0;
      content: "";
      border-bottom: 1px solid #ff4848;
      border-left: 1px solid #ff4848;
      width: 7px;
      height: 7px;
      transform: rotate(-45deg);
    }
  }

  .main-nav__item .main-nav__link {
    letter-spacing: normal;
    text-decoration: none;
    font-size: $fs_small;
    color: $text-color;
    text-transform: none;
    transform: none;
    opacity: 1;

    &::before {
      display: none;
    }
  }


  .main-nav__item:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }
}
