.phone {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  background: transparent url('../public/img/phone.png') no-repeat;

  @media (min-width: $tablet-width) {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.phone__number {
  font-weight: 700;
}

.phone__description {
  font-size: $fs_small;
  line-height: $lh;
  color: $color-viber;
}
