.reviews {
  background-color: #f7f7f7;
}

.reviews__wrapper {
  @mixin container;
  text-align: center;
  padding-top: 2px;
}

.reviews__slogan {
  padding: 0 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  margin-bottom: 0px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 30px;
    line-height: 50px;
  }
}

.reviews__description {
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  margin-top: 0px;

  @media (min-width: $tablet-width) {
    line-height: 50px;
  }
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2.5%;
}

.review {
  flex-basis: 100%;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    flex-basis: 31.5%;
  }

}

.review__text {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  position: relative;
  text-align: left;
  padding: 6%;
  padding-bottom: 20%;
  margin-bottom: 14px;

  &::before, &::after {
    content: "";
    position: absolute;
    left: 12%;
    top: 100%;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-left: 6px solid #ebebeb;
    border-top: 6px solid #ebebeb;
    margin-top: 1px;
  }
  &::after {
    border-left: 6px solid #fff;
    border-top: 6px solid #fff;
    top: calc(100% - 2px);
    left: calc(12% + 1px);
  }
}

.review__text p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  min-height: 125px;

  @media (min-width: $tablet-width) {
    min-height: 350px;
  }

  @media (min-width: $desktop-width) {
    min-height: 210px;
  }


}

.review__text--big p {
  color: #255a94;
}

.review__more {
  position: absolute;
  display: inline-block;
  bottom: 10%;
  width: 46px;
  height: 18px;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ff5b5b;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #dadada;
  &:hover {
    border: 1px solid #3783d8;
    font-size: 18px;
    line-height: 16px;
  }
  &::before {
    content: "•";
    position: absolute;
    left: 5px;
    bottom: -1px;
    font-size: 14px;
    line-height: 16px;
    color: #ff5b5b;
  }
  &:hover::before {
    font-size: 18px;
    line-height: 16px;
  }
  &::after {
    content: "•";
    position: absolute;
    right: 5px;
    bottom: -1px;
    font-size: 14px;
    line-height: 16px;
    color: #ff5b5b;
  }
  &:hover::after {
    font-size: 18px;
    line-height: 16px;
  }
}

.review__author {
  display: flex;
  align-items: flex-start;
}

.review__avatar {
  border-radius: 50%;
  margin-left: 8%;

}

.review__details {
  text-align: left;
  margin-left: 4%;
}

.review__author-name {
  font-size: 13px;
  line-height: 21px;
  margin-top: 5px;
}


.reviews__more {
  @mixin btn;
  border: 1px solid #ff5b5b;
  background-color: #fff;
  color: inherit;
  margin-top: 46px;
  margin-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;

  &:hover {
    background-color: #ed5353;
    color: #fff;
  }
}
