$desktop-width: 1270px;
$tablet-width: 870px;
$slider-items: 3;
$color-menu: #ff5b5b;
$color-menu-active: #f64848;
$color-overlay: #1c1c1c;

$body-bg: #eaeae6;
$text-color: #383838;
$color-viber: #4e4e4e;
$color-slider: #252525;
$color-price: #f74444;
$fs: 14px;
$lh: 18px;
$fs_small: 13px;
$lh_small: 18px;
