<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="slider-wrapper">
			<div class="slider" id="top-slider">
				<input type="radio" id="btn-1" name="toggle" value="1" checked>
				<input type="radio" id="btn-2" name="toggle" value="2">
				<input type="radio" id="btn-3" name="toggle" value="3">
				<div class="slider__inner">
					<div class="slider__slides">
						<div class="slide">
							<div class="slide__description">
								<img class="decoration_quote" src="img/quote.png">
								<div class="decoration_number">01</div>
								<p class="slide__title">Регистрация ООО</p>
								<p class="slide__sub-title">Осуществляем Регистрацию ООО на всей территории РФ.</p>
								<ul class="slide__features">
									<li class="slide__feature">Предоставляем юридические адреса</li>
									<li class="slide__feature">Без затрат на нотариуса</li>
									<li class="slide__feature">За одно посещение</li>
									<li class="slide__feature">Консультация Юриста и Бухгалтера</li>
									<li class="slide__feature">Открытие расчетного счета</li>
								</ul>
								<div class="slide__conditions">
									<p>Стоимость услуги</p>
									<p class="slide__cost">от 2 000 руб</p>
									<p>Срок регистрации: 3 дня</p>
									<a href="/registratsiya-ooo.html" class="slide__link">Подробная информация</a>
								</div>
							</div>
							<img class="slide__img" src="img/slide1.png" alt="Регистрация ООО">
						</div>
						<div class="slide">
							<div class="slide__description">
								<img class="decoration_quote" src="img/quote.png">
								<div class="decoration_number">02</div>
								<p class="slide__title">Регистрация ИП</p>
								<p class="slide__sub-title">Осуществляем Регистрацию ИП на всей территории РФ.</p>
								<ul class="slide__features">
									<li class="slide__feature">Без затрат на нотариуса</li>
									<li class="slide__feature">За одно посещение</li>
									<li class="slide__feature">Консультация Юриста и Бухгалтера</li>
									<li class="slide__feature">Открытие расчетного счета</li>
								</ul>
								<div class="slide__conditions">
									<p>Стоимость услуги</p>
									<p class="slide__cost">от 2 000 руб</p>
									<p>Срок регистрации: 3 дня</p>
									<a href="/registratsiya-ip.html" class="slide__link">Подробная информация</a>
								</div>
							</div>
							<img class="slide__img" src="img/slide2.png" alt="Регистрация ИП">
						</div>
						<div class="slide">
							<div class="slide__description">
								<img class="decoration_quote" src="img/quote.png">
								<div class="decoration_number">03</div>
								<p class="slide__title">Бухгалтерские услуги</p>
								<p class="slide__sub-title">Экономьте до 50% на ведении бухгалтерского учета!</p>
								<ul class="slide__features">
									<li class="slide__feature">100% ответственность по Договору</li>
									<li class="slide__feature">Любые системы налогообложения</li>
									<li class="slide__feature">Работаем с ВЭД</li>
									<li class="slide__feature">Возмещение НДС</li>
									<li class="slide__feature">Сопровождение налоговых проверок</li>
								</ul>
								<div class="slide__conditions">
									<p>Нулевая отчетность - <span class="price">1 000</span> руб</p>
									<p>ИП - от <span class="price">2 000</span> руб/мес</p>
									<p>ООО - от <span class="price">3 000</span> руб/мес</p>
									<a href="/vedenie-buhgalterskogo-i-nalogovogo-ucheta.html" class="slide__link">Подробная информация</a>
								</div>
							</div>
							<img class="slide__img" src="img/slide3.png" alt="Бухгалтерские услуги">
						</div>
					</div>
				</div>
				<div class="slider__controls">
					<label for="btn-1"></label>
					<label for="btn-2"></label>
					<label for="btn-3"></label>
				</div>
				<button type="button" class="slide__forward">вперед</button>
				<button type="button" class="slide__backward">назад</button>
			</div>
		</section>
		<section class="company">
			<h2 class="company__slogan">Принимайте Верные Решения вместе с нами!</h2>
			<p class="company__description">Обращаясь в нашу компанию, Вы получаете целый штат профессиональных бухгалтеров и юристов по цене всего одного сотрудника. Квалифицированная помощь будет оказана на любых этапах Вашего бизнеса!</p>
			<!-- <button type="button" class="company__test-drive">Заказать тест-драйв</button> -->
			<div class="company__services">
				<div class="company__service">
					<a href="/likvidatsiya-ooo.html" class="service__link">Ликвидация<br>компаний</a>
					<img src="img/pic1.jpg" alt="">
				</div>
				<div class="company__service">
					<a href="/vnesenie-izmenenij-v-dokumenty.html" class="service__link">Внесение изменений<br>в документы</a>
					<img src="img/pic2.jpg" alt="">
				</div>
				<div class="company__service">
					<a href="/predstavitelstvo-v-sudah.html" class="service__link">Представительство<br>в судах</a>
					<img src="img/pic3.jpg" alt="">
				</div>
				<div class="company__service">
					<a href="/spory-s-bankami.html" class="service__link">Споры<br>с банками</a>
					<img src="img/pic4.jpg" alt="">
				</div>
			</div>
		</section>
		<section class="five">
			<h2 class="five__slogan">Пять причин, по которым выбирают именно нас</h2>
			<p class="five__description">Более 30 клиентов сотрудничают с нами ежемесячно</p>
			<div class="five__causes">
				<div class="five__four">
					<div class="cause cause--pic1">
						<p class="cause__title">Прозрачность договорных отношений</p>
						<p class="cause__details">У нас нет никаких скрытых платежей</p>
					</div>
					<div class="cause cause--pic2">
						<p class="cause__title">Постоянная профессиональная поддержка</p>
						<p class="cause__details">Вы получаете поддержку пять дней в неделю без больничных и отпусков.</p>
					</div>
					<div class="cause cause--pic3">
						<p class="cause__title">Экономия бюджета и времени</p>
						<p class="cause__details">С нами вы платите меньше средств,чем на содержание собственного сотрудника. Вся работа выполняется в срок</p>
					</div>
					<div class="cause cause--pic4">
						<p class="cause__title">Гарантия качества и ответственности</p>
						<p class="cause__details">Мы несём полную финансовую ответственность за качество своей работы</p>
					</div>
				</div>
				<div class="five__one">
					<p class="cause__title cause__title--one">Надежная защита Ваших интересов</p>
					<p class="cause__details cause__details--one">Мы избавим вас от трудностей правовых вопросов. Вы будете четко знать кому, за что и сколько Вы платите</p>
					<a href="#" class="cause__link jscallback"><span>Заказать звонок</span></a>
				</div>
			</div>
		</section>

		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %> -->
		<section class="reviews">
		  <div class="reviews__wrapper">
		    <h2 class="reviews__slogan">Отзывы наших клиентов</h2>
		    <p class="reviews__description">Отзывы клиентов - лучший показатель качества предоставляемых услуг</p>
		    <div class="reviews__list reviews-gallery">
					<a href="img/reviews/arhano.jpg"><img src="img/reviews/arhano_thumb.jpg"></a>
					<a href="img/reviews/evrostek.jpg"><img src="img/reviews/evrostek_thumb.jpg"></a>
					<a href="img/reviews/favorit.jpg"><img src="img/reviews/favorit_thumb.jpg"></a>
					<a href="img/reviews/rondo.jpg"><img src="img/reviews/rondo_thumb.jpg"></a>
					<!-- <a href="img/reviews/tehnikatepla.jpg"><img src="img/reviews/tehnikatepla_thumb.jpg" alt="Second image"></a> -->
					<a href="img/reviews/victotiya.jpg"><img src="img/reviews/victotiya_thumb.jpg"></a>
		    </div>
		    <!-- <button type="button" class="reviews__more">Все отзывы</button> -->
		  </div>
		</section>

		<script>baguetteBox.run('.reviews-gallery');</script>

		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
