<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block top-block--izm">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/izmdecor.png" alt="" class="top-block__decoration">
					<div class="top-block__details">
						<h1 class="top-block__title">Постановка и ведение кадрового учета<span>Кадровые услуги в г. Ростове-на-Дону</span></h1>
						<div class="top-block__description">Нашим клиентам мы предлагаем аудит, восстановление, постановку и ведение кадрового делопроизводства.</div>
					</div>
					<img src="img/womanizm.png" alt="" class="top-block__img">
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Сомневаетесь в правильности ведения кадрового учета?</div>
					<div class="top-block__description-right">Запишитесь на бесплатный аудит!</div>
					<button type="button" class="top-block__btn jscallback">Заказать аудит</button>
					<!-- <div class="top-block__decoration-right">%</div> -->
				</div>
			</div>
		</section>
		<section class="egrul">
			<h2 class="egrul__slogan">Ведение кадрового учета включает в себя различные услуги</h2>
			<div class="egrul__variants">
				<div class="egrul__left">
					<div class="egrul__variant">В рамках услуги «Ведение учета» мы осуществляем подбор персонала, включающей в себя:</div>
					<div class="egrul__details">
						<ul>
							<li>Разработку привлекательного для соискателей текста вакансии;</li>
							<li>Разработка теста на профессиональные знания и психологические характеристики соискателей;</li>
							<li>Размещение и ведение вакансии на 4 основных сайтах о трудоустройстве (job.ru, superjob.ru, hh.ru, rabota.ru);</li>
							<li>Обработка и анализ откликов соискателей.</li>
						</ul>
					</div>
				</div>
				<div class="egrul__right">
					<div class="egrul__variant">Дополнительно мы предлагаем Вам:</div>
					<div class="egrul__details">
						<ul>
							<li>Хранение трудовых книжек в нашем офисе (в огнеупорном сейфе, в соответствии с ТК РФ);</li>
							<li>Управленческую отчетность по движению кадров (текучесть кадров, профессиональный уровень работников, остаток отпусков и любой другой отчет, по Вашему запросу);</li>
							<li>Пакет документов по охране труда;</li>
							<li>Проведение первичных собеседований, отсев неподходящих кандидатов.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="advantages-ooo advantages-ooo--tmp advantages-ooo--buh">
			<div class="advantages-ooo__wrapper">
				<h2 class="advantages-ooo__title">Наши преимущества</h2>
				<p class="advantages-ooo__description">Предлагаем услуги высокого качества на выгодных условиях</p>
				<div class="advantages-ooo__list">
					<div class="advantages-ooo__four">
						<div class="advantages-ooo__items">
							<div class="advantages-ooo__item advantages-ooo__item--pic1">Максимально<br>быстро</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic2">Без скрытых<br>платежей	</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic3">Персональная<br>ответственность<br>специалиста</div>
							<div class="advantages-ooo__item advantages-buh__item--pic4">Обратная связь от<br>специалиста<br>по услуге</div>
						</div>
						<div class="advantages-ooo__online">
							<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
							<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
						</div>
					</div>
					<div class="advantages-ooo__one">
						<div class="advantages-ooo__one-text">
							<p class="advantages-ooo__one-title">Получите гарантии качества оказываемых услуг!</p>
							<p class="advantages-ooo__one-details">
								Специалист несет персональную ответственность за качество и сроки предоставления услуг.
								<br><br>
								Наша 100% ответственность перед вами будет оформлена договором.
							</p>
						</div>
						<img src="img/man2.jpg" alt="" class="advantages-ooo__one-img">
					</div>
				</div>
				<div class="advantages-ooo__online advantages-ooo__online--mobile">
					<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
					<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
				</div>
			</div>
		</section>
	<section class="izm-cases" style="margin-top: 30px">
		<h2 class="izm-cases__title">Мы предлагаем следующие услуги</h2>
		<div class="izm-cases__list">
			<div class="izm-case">
				<div class="izm-case__title">Постановка учета</div>
				<div class="izm-case__details">
			 		<strong>Стоимость</strong>: от 3 000 руб.
					<div class="izm-case__description">
						Идеальный вариант для вновь открывшихся организаций. Мы разработаем для вас ПОЛНЫЙ ПАКЕТ кадровой документации, включающий в себя: все обязательные положения, журналы учета, сформированные личные дела сотрудников, штатное расписание, должностные инструкции, личные карточки Т-2, унифицированные формы документов и т.д. <br>
						Дополнительно мы проведем для Вашего сотрудника обучающий семинар по дальнейшему ведению учета. В дальнейшем Вы сможете вести кадровый учет самостоятельно, или воспользоваться нашей услугой «Ведение учета».
					</div>

				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Ведение учета</div>
				<div class="izm-case__details">
					<strong>Стоимость</strong>: от 1 500 руб.
					<div class="izm-case__description">
						Включает в себя постановку документооборота и дальнейшее профессиональное сопровождение учета кадров. Подбор персонала, прием, перемещение, ведение и хранение трудовых книжек, отпуска, сопровождение проверок трудовой инспекции – услуга включает в себя все обязательные, в соответствии с ТК РФ, мероприятия по кадровому делу.
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Аудит учета</div>
				<div class="izm-case__details">
					<strong>Стоимость</strong>: от 1 500 руб.
					<div class="izm-case__description">
						Услуга по анализу соответствия имеющейся кадровой документации действующему законодательству. По результатам экспертизы Вы получите подробный отчет о состоянии документов кадрового учета. <br>
						Эта услуга может предоставляться как самостоятельно – перед проверками Государственной инспекцией труда, так и в комплексе с другими услугами по кадровому учету. На основании проведенного аудита, Вы сможете воспользоваться услугой «Восстановление учета». <br>
						Чтобы проверка ГИТ не стала для Вас «приятной» неожиданностью, заранее найдите свою компанию в графике проведения проверок работодателей на официальном сайте Государственной инспекции труда Ростовской области: http://git61.rostrud.ru/, в разделе «План проведения плановых проверок».
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Восстановление учета</div>
				<div class="izm-case__details">
					<strong>Стоимость</strong>: от 3 000 руб.
					<div class="izm-case__description">
						Позволяет в сжатые сроки (от пяти до десяти рабочих дней, в зависимости от текущего состояния учета и численности штата) привести в порядок документы и смело встречать любую проверку. Вам останется только завизировать документы подписью руководителя и ознакомить персонал с новой кадровой документацией. <br>
						Для тех руководителей, которые желают использовать кадровые документы как действенный способ управления персоналом, мы предлагаем услугу «Эффективный учет». В рамках данной услуги, мы разработаем любое положение или регламент, не входящий в список обязательных документов, но позволяющих руководителю значительно повысить эффективность работы компании. <br>
						Например, повысить корпоративный дух, установить обязательные для всех принципы работы, определить главную цель существования компании и направить работу всего коллектива в одно русло – Вам поможет разработанное именно для Вашей компании «Положение о корпоративной культуре». <br>
						Вы озадачены повышением мотивации Ваших работников, внедрением эффективной системы оплаты труда? Мы проведем анализ организационной структуры компании, должностных обязанностей работников, основных целей компании (KPI) и предложим Вам комплекс уникальных документов и механизмов по оплате труда и премировании. Ваша система оплаты, будет зависеть от результата деятельности работника, а не от времени, проведенного в офисе. <br>
					</div>
				</div>
			</div>
		</div>
	</section>


		<section class="izm-attention izm-attention-izm" style="margin-bottom:50px;">
			<div class="izm-attention__decor">!</div>
			<div class="izm-attention__details">
				<div class="izm-attention__title">Внимание!</div>
				<div class="izm-attention__description">В начале сотрудничества мы предоставим Вам шаблоны документов и процесс передачи кадрового учета будет производится исключительно на законных основаниях. <br>
						Помните: передача персональных данных без согласия работников запрещена законом!</div>
			</div>
			<div class="izm-attention__action">
				<!-- <div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div> -->
				<button type="button" class="izm-attention__btn jscallback">Записаться на бесплатную консультацию</button>
			</div>
		</section>

		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
