<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block top-block--izm">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/izmdecor.png" alt="" class="top-block__decoration">
					<div class="top-block__details">
						<h1 class="top-block__title">Закрыть ИП в Ростове-на-Дону и Ростовской области<span>Ликвидация ИП в любом городе РФ!</span></h1>
						<div class="top-block__description">Вы зарегистрированы как ИП и при этом деятельность не ведется? Это одна из самых распространенных ошибок наших клиентов. Большинство индивидуальных предпринимателей забывают, что обязанность по уплате обязательных взносов, а так же обязанность по сдаче отчетности в налоговые органы не зависят от факта ведения предпринимательской деятельности.</div>
					</div>
					<img src="img/womanizm.png" alt="" class="top-block__img">
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Ликвидация ИП за 20 минут</div>
					<div class="top-block__description-right">Мы подготовим документы к вашему приезду и поможем сдать документы в налоговую за 20 минут!</div>
					<button type="button" class="top-block__btn jscallback">Заказать</button>
					<!-- <div class="top-block__decoration-right">%</div> -->
				</div>
			</div>
		</section>
		<section class="egrul">
			<a href="img/iplikvidaciyanew.jpg"><img src="img/iplikvidaciyanew.jpg" alt="" style="width: 100%"></a>
		</section>
		<script>baguetteBox.run('.egrul');</script>
		<section class="egrul">
			<h2 class="egrul__slogan">Закрыть ИП – почему удобней с нами?</h2>
			<div class="egrul__variants">
				<div class="egrul__left" style="flex-basis: 100%">
					<div class="egrul__variant">Мы предлагаем услуг "под ключ"</div>
					<div class="egrul__details" style="padding: 10px;">
						<ol>
							<li>
								Вы сможете разобраться со всеми вопросами в одном месте, а именно:
								<ul>
									<li>получить консультацию у опытных юриста и бухгалтера;</li>
									<li>подготовить документы для закрытия ИП;</li>
									<li>сформировать квитанцию и оплатить госпошлину;</li>
									<li>получить информацию о задолженности перед налоговой и ПФР;</li>
									<li>подготовить и сдать недостающую отчетность.</li>
								</ul>
							</li>
							<li>Вам не придется ездить по всему городу, мы поможем сдать документы в течение 20 минут! Ликвидация ИП осуществляется в МИФНС №26 г. Ростова-на-Дону, которая расположена в 200 метрах от нашего офиса.</li>
							<li>Мы предоставляем удобный сервис — оставьте заявку и к Вашему приезду документы будут готовы!</li>
							<li>Если Вы прописаны не в г. Ростове-на-Дону, то мы все равно сможем Вам помочь!</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		<section class="advantages-ooo advantages-ooo--tmp advantages-ooo--buh">
			<div class="advantages-ooo__wrapper">
				<h2 class="advantages-ooo__title">Наши преимущества</h2>
				<p class="advantages-ooo__description">Предлагаем услуги высокого качества на выгодных условиях</p>
				<div class="advantages-ooo__list">
					<div class="advantages-ooo__four">
						<div class="advantages-ooo__items">
							<div class="advantages-ooo__item advantages-ooo__item--pic1">Максимально<br>быстро</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic2">Без скрытых<br>платежей	</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic3">Персональная<br>ответственность<br>специалиста</div>
							<div class="advantages-ooo__item advantages-buh__item--pic4">Обратная связь от<br>специалиста<br>по услуге</div>
						</div>
						<div class="advantages-ooo__online">
							<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
							<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
						</div>
					</div>
					<div class="advantages-ooo__one">
						<div class="advantages-ooo__one-text">
							<p class="advantages-ooo__one-title">Получите гарантии качества оказываемых услуг!</p>
							<p class="advantages-ooo__one-details">
								Специалист несет персональную ответственность за качество и сроки предоставления услуг.
								<br><br>
								Наша 100% ответственность перед вами будет оформлена договором.
							</p>
						</div>
						<img src="img/man2.jpg" alt="" class="advantages-ooo__one-img">
					</div>
				</div>
				<div class="advantages-ooo__online advantages-ooo__online--mobile">
					<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
					<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
				</div>
			</div>
		</section>
	<section class="izm-cases" style="margin-top: 30px">
		<h2 class="izm-cases__title">Риски для предпринимателей, которые откладывают процедуру ликвидации ИП</h2>
		<div class="izm-cases__list">
			<div class="izm-case">
				<div class="izm-case__title">Взносы в Пенсионный фонд и Фонд социального страхования</div>
				<div class="izm-case__details">
					<div class="izm-case__description">
						У каждого ИП есть обязанность платить данные взносы за себя. К примеру, в 2016 году сумма таких взносов составляет 23 153,33 руб. Т.е. каждый месяц промедления с закрытием ИП будет обходится Вам в 1 929 руб….
					</div>

				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Сдача отчетности в ИФНС</div>
				<div class="izm-case__details">
					<div class="izm-case__description">
						За несдачу или несвоевременную сдачу отчетности, даже нулевой, предусмотрены штрафы. Самый простой случай, если Вы находитесь на упрощенной системе налогообложения и обязаны сдавать отчетность раз в год . Хуже – если Вы на ОСНО. И самый худший вариант – если Вы применяете ЕНВД, т.к. кроме отчетности Вы должны будете оплатить начисленный единый налог. <br>
						Чтобы разобраться с данным вопросом, обычно требуется сверка с налоговой и консультация опытного бухгалтера.
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Начисление максимального размера взносов в ПФР.</div>
				<div class="izm-case__details">
					<div class="izm-case__description">
						Если Вы не сдаете отчетность в ИФНС, то ПФР начислит Вам максимально возможную сумму взносов и передаст на взыскание судебным приставам. Так в 2016 году максимальный размер взносов составляет 154 851,85 руб., а за 2015 год составляет 148 886,40 руб. Отменить такое начисление возможно, если Вы обратитесь в нашу компанию своевременно.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="tariff-ooo tariff-ooo--buh tariff-ooo--banki" style="margin-bottom: 50px;">
		<div class="tariff-ooo__wrapper">
			<div class="tariff-ooo__title" id="tariff">Стоимость Ликвидации ИП</div>
			<div class="tariff-ooo__description">Варьируется в зависимости от необходимых услуг</div>
			<!-- <div class="tariff-ooo__discount">Внимание! При необходимости внесения нескольких изменений - предоставляем скидки!</div> -->


			<div class="izm-attention__details izm-attention--price">
				<div class="izm-attention__title">Стоимость: от 1 500 руб.</div>
				<div class="izm-attention__description">стоимость уточняйте после бесплатной консультации.</div>
			</div>
			<div class="izm-attention__action izm-attention--price" >
				<!-- <div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div> -->
				<button type="button" class="izm-attention__btn jscallback">Заказать бесплатную консультацию</button>
			</div>

		</div>
	</section>

	<section class="faq-ooo">
		<div class="faq-ooo__title">Ответы на частые вопросы</div>
		<div class="faq-ooo__description">Если вы не найдете ответ на свой вопрос, то вы можете <a href="#" class="jscallback">заказать консультацию</a> и мы свяжемся с вами в ближайшее время</div>
		<div class="faq-ooo__list">
			<div class="faq-ooo__item">
				<div class="faq-ooo__question">Можно ли закрыть ИП с долгами?</div>
				<div class="faq-ooo__answer">
					<p>Да, Вы имеете право закрыть ИП, даже имея долги. Это позволит как минимум остановить начисление взносов в ПФР и ФСС</p>
				</div>
			</div>
			<div class="faq-ooo__item">
				<div class="faq-ooo__question">ПФР прислал письмо с огромным штрафом</div>
				<div class="faq-ooo__answer">
					<p>Как только процедура открытия ИП будет закончена, а Вы об этом будете уведомлены, на руки Вы получите следующие бумаги:</p>
				</div>
			</div>
			<div class="faq-ooo__item">
				<div class="faq-ooo__question">Не сдавал отчетность, как быть?</div>
				<div class="faq-ooo__answer">
					<p>В зависимости от деятельности, которую будет вести ИП, можно выбрать любое количество кодов ОКВЭД, используя общероссийский классификатор ОКВЭД ОК 029-2001 (КДЕС Ред. 1).</p>
				</div>
			</div>
			<div class="faq-ooo__item">
				<div class="faq-ooo__question">Должен ли я оплатить задолженность?</div>
				<div class="faq-ooo__answer">
					<p>Нотариальное удостоверение документов необходимо только в одном случае – если их будет сдавать не будущий предприниматель, а его представитель. Стоимость нотариальных расходов (заверение заявления + доверенность) составляет примерно 2000 - 3000 рублей.</p>
				</div>
			</div>
		</div>
	</section>

		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
