<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block top-block--buh">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/decorbuh.png" alt="" class="top-block__decoration" style="left:35%">
					<div class="top-block__details">
						<h1 class="top-block__title top-block__title--nds">Аренда офиса на час<span>Вы получите все необходимое для работы и проведения деловых встреч</span></h1>
						<div class="top-block__description">Вы уже открыли бизнес, зарегистрировали юридический адрес, но еще не сняли офис с просторной переговорной комнатой? А может быть, у Вас нет офиса в нашем городе, так как деятельность компании развернута в других регионах? Не беда! Мы поможем Вам поработать, организовать заседание или провести переговоры.</div>
					</div>
					<img src="img/womanbuh.png" alt="" class="top-block__img">
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Нужно провести переговоры?</div>
					<div class="top-block__description-right">Свяжитесь с нашим менеджером и закажите аренду офиса в удобное время!</div>
					<button type="button" class="top-block__btn jscallback">Заказать аренду офиса</button>
				</div>
			</div>
		</section>
		<section class="egrul">
			<h2 class="egrul__slogan">Наш «Офис на час» — это престижное помещение, полностью оснащенное мебелью и оргтехникой</h2>
			<div class="egrul__variants">
				<div class="egrul__left">
					<div class="egrul__variant">При аренде офиса вы получите:</div>
					<div class="egrul__details">
						<ul>
							<li>мебель и оргтехнику;</li>
							<li>канцелярские принадлежности;</li>
							<li>секретарские услуги;</li>
							<li>Wi-Fi интернет;</li>
							<li>горячий кофе и охлажденную минеральную воду.</li>
						</ul>
					</div>
				</div>
				<div class="egrul__right">
					<div class="egrul__variant">Стоимость аренды</div>
					<div class="egrul__details">
						<strong>Стоимость: от 800 руб./час</strong><br>
						Для аренды офиса необходимо забронировать необходимое время по телефону<br>
						<button type="button" class="izm-attention__btn jscallback">Забронировать время аренды</button>
					</div>
				</div>
			</div>
		</section>

		<section class="reviews reviews--ofis">
		  <div class="reviews__wrapper">
		    <h2 class="reviews__slogan">Фото нашего офиса</h2>
		    <p class="reviews__description">Офис "Центральный" (г.Ростов-на-Дону, ул. Города Волос, 119)</p>
		    <div class="reviews__list reviews-gallery reviews-gallery--ofis">
					<a href="img/ofis/room1_1.jpg" title="Комната переговоров №1"><img src="img/ofis/room1_1_thumb.jpg"></a>
					<a href="img/ofis/room1_2.jpg" title="Комната переговоров №1"><img src="img/ofis/room1_2_thumb.jpg"></a>
					<a href="img/ofis/room1_3.jpg" title="Комната переговоров №1"><img src="img/ofis/room1_3_thumb.jpg"></a>
					<a href="img/ofis/room2_1.jpg" title="Комната переговоров №2"><img src="img/ofis/room2_1_thumb.jpg"></a>
					<a href="img/ofis/room2_2.jpg" title="Комната переговоров №2"><img src="img/ofis/room2_2_thumb.jpg"></a>
					<a href="img/ofis/lobby1.jpg" title="Холл офиса"><img src="img/ofis/lobby1_thumb.jpg"></a>
					<a href="img/ofis/lobby2.jpg" title="Холл офиса"><img src="img/ofis/lobby2_thumb.jpg"></a>
		    </div>
		    <button type="button" class="reviews__more" style="margin-top:0px">Заказать</button>
		  </div>
		</section>
		<script>baguetteBox.run('.reviews-gallery');</script>

		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %> -->

		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
