

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block top-block--izm">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/izmdecor.png" alt="" class="top-block__decoration">
					<div class="top-block__details">
						<h1 class="top-block__title">Оформление патента на работу для иностранных граждан</h1>
						<div class="top-block__description">Получение патента на работу иностранными гражданами позволяет решать несколько задач:
<ul>
	<li>Осуществлять трудовую деятельность на территории РФ в соответствии с действующим законодательством</li>
	<li>Уйти от ограничения 90/180 дней на пребывание на территории РФ иностранных граждан с безвизовым режимом (за нарушение режима предусмотрен штраф и запрет на въезд в Россию в течение 3-5 лет)</li>
</ul>
</div>
					</div>
					<img src="img/womanizm.png" alt="" class="top-block__img">
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Нужно оформить патент на работу?</div>
					<div class="top-block__description-right">Оказываем содействие на всех этапах получения патента!</div>
					<button type="button" class="top-block__btn jscallback">Заказать бесплатную консультацию</button>
					<!-- <div class="top-block__decoration-right">%</div> -->
				</div>
			</div>
		</section>
		<section class="egrul">
			<h2 class="egrul__slogan">Процедура оформления патента на работу</h2>
			<a href="img/patent.jpg"><img src="img/patent.jpg" alt="" style="width: 100%"></a>
		</section>
		<script>baguetteBox.run('.egrul');</script>
		<section class="egrul">
			<div class="egrul__variants">
				<div class="egrul__left" style="flex-basis: 100%">
					<div class="egrul__variant">В комплекс наших услуг входит:</div>
					<div class="egrul__details" style="padding: 10px;">
						<ul>
							<li>консультационное сопровождение;</li>
							<li>помощь в формировании полного пакета документов;</li>
							<li>сопровождение пакета документов в УФМС Ростовской области;</li>
							<li>внесение по требованию УФМС по Ростовской области дополнительных сведений и документов;</li>
							<li>поддержание контакта с УФМС по Ростовской области;</li>
							<li>получение информации о готовности, назначение даты и времени приема;</li>
							<li>другие необходимые мероприятия.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="advantages-ooo advantages-ooo--tmp advantages-ooo--buh">
			<div class="advantages-ooo__wrapper">
				<h2 class="advantages-ooo__title">Наши преимущества</h2>
				<p class="advantages-ooo__description">Предлагаем услуги высокого качества на выгодных условиях</p>
				<div class="advantages-ooo__list">
					<div class="advantages-ooo__four">
						<div class="advantages-ooo__items">
							<div class="advantages-ooo__item advantages-ooo__item--pic1">Максимально<br>быстро</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic2">Без скрытых<br>платежей	</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic3">Персональная<br>ответственность<br>специалиста</div>
							<div class="advantages-ooo__item advantages-buh__item--pic4">Обратная связь от<br>специалиста<br>по услуге</div>
						</div>
						<div class="advantages-ooo__online">
							<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
							<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
						</div>
					</div>
					<div class="advantages-ooo__one">
						<div class="advantages-ooo__one-text">
							<p class="advantages-ooo__one-title">Получите гарантии качества оказываемых услуг!</p>
							<p class="advantages-ooo__one-details">
								Специалист несет персональную ответственность за качество и сроки предоставления услуг.
								<br><br><br>

							</p>
						</div>
						<img src="img/man2.jpg" alt="" class="advantages-ooo__one-img">
					</div>
				</div>
				<div class="advantages-ooo__online advantages-ooo__online--mobile">
					<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
					<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
				</div>
			</div>
		</section>


		<section class="tariff-ooo tariff-ooo--buh tariff-ooo--banki" style="margin-bottom: 50px;">
			<div class="tariff-ooo__wrapper">
				<div class="tariff-ooo__title" id="tariff">Стоимость оформления патента на работу</div>
				<div class="tariff-ooo__description">Варьируется в зависимости от необходимых услуг</div>
				<!-- <div class="tariff-ooo__discount">Внимание! При необходимости внесения нескольких изменений - предоставляем скидки!</div> -->


				<div class="izm-attention__details izm-attention--price">
					<div class="izm-attention__title">Стоимость: от 10000 руб.</div>
					<div class="izm-attention__description">стоимость уточняйте после бесплатной консультации.</div>
				</div>
				<div class="izm-attention__action izm-attention--price" >
					<!-- <div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div> -->
					<button type="button" class="izm-attention__btn jscallback">Заказать бесплатную консультацию</button>
				</div>

			</div>
		</section>
		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %> -->
		<!-- <section class="faq-ooo">
			<div class="faq-ooo__title">Ответы на частые вопросы ???</div>
			<div class="faq-ooo__description">Если вы не найдете ответ на свой вопрос, то вы можете <a href="#" class="jscallback">заказать консультацию</a> и мы свяжемся с вами в ближайшее время</div>
			<div class="faq-ooo__list">
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Кто может не вести бухгалтерский учет?</div>
					<div class="faq-ooo__answer">
						<p>По закону только индивидуальные предприниматели, которые работают на УСН, либо применяют ЕНВД, могут не вести бухгалтерию в полном объеме. При этом они сохраняют за собой право пользоваться бланками бухгалтерской отчетности, например, при расчетах с контрагентами.</p>
						<p>ИП на «Упрощенке» обязаны вести Книгу учета доходов и расходов, чтобы правильно выполнять свои налоговые обязательства.</p>
						<p>ООО всегда ведут бухгалтерский учет в полном объеме с помощью штатного сотрудника либо сторонней организаций. Никаких исключений в этом случае нет.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какие штрафы за неправильное ведение учета?</div>
					<div class="faq-ooo__answer">
						<p>Если проверка налоговыми сотрудниками выявит нарушения в бухгалтерской документации и отчетности, то штрафные санкции будут наложены сразу: первое нарушение — 10 000, повторное — 30 000.</p>
						<p>В том случае, если выявляются недочеты не за один отчетный период, штрафы могут быть намного выше. При этом, если проверяющие выяснят, что Вы своими действиями пытались снизить налоги и уменьшить налогооблагаемую базу, то в бюджет уйдет еще и 20% от суммы налога, который организация бы заплатила при правильном расчете. Эта сумма не может быть ниже 40 000.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Ежемесячное обслуживание или ежеквартальное?</div>
					<div class="faq-ooo__answer">
						<p>Ежемесячное бухгалтерское обслуживание – это возможность полностью отказаться от штатного бухгалтера, получив качественное обслуживание во всех бухгалтерских мелочах. В комплекс услуг входит полноценное ведение учета и обеспечение сдачи всей необходимой отчетности.</p>
						<p>Ежеквартальное бухгалтерское сопровождение – Вы получаете грамотно подготовленную квартальную отчетность без ведения бухгалтерского учета. В этом режиме можно получить небольшие бухгалтерские услуги.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Во сколько обойдется ведение бухгалтерского учета?</div>
					<div class="faq-ooo__answer">
						<p>На консультации или во время заключения договора мы, совместно с Вами, рассчитываем объем бухгалтерских услуг, необходимых именно для Вашей организации. В итоговую сумму будет включены такие нюансы, как сфера деятельности предприятия, размер документооборота, режим используемой системы налогообложения. Наши цены приемлемы даже для малого бизнеса и гораздо выгоднее, чем найм штатного бухгалтера.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Что входит в полное ежемесячное обслуживание?</div>
					<div class="faq-ooo__answer">
						<p>Наша компания оказывает широкий спектр услуг по ведению бухгалтерского учета. Ежемесячно наши специалисты будут:</p>
						<ul>
							<li>формировать первичную документацию (счета-фактуры, акты, накладные и т.д.) с занесением их в базу 1С;</li>
							<li>составлять и проводить платежные поручения;</li>
							<li>рассчитывать и начислять заработную плату и дополнительные выплаты сотрудникам;</li>
							<li>рассчитывать и проверять целесообразность налоговых выплат;</li>
							<li>рассчитывать и проверять целесообразность налоговых выплат;</li>
							<li>Обеспечивать индивидуальный подход и давать грамотные консультации по любому вопросу в рамках договора на оказание бухгалтерских услуг;</li>
						</ul>
						<p>Бонусом клиент получает подробные и полезные консультации по оптимизации налогообложения и законному уменьшению налогооблагаемой базы.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Можно ли ваши услуги учесть как расходы?</div>
					<div class="faq-ooo__answer">
						<p>Большинство наших клиентов, действительно, смогут с нами сэкономить еще и на налоге. Есть несколько вариантов:</p>
						<ol>
							<li>Если у Вас ОСН (общая система налогообложения), то сумму наших бухгалтерских услуг Вы включаете в затраты, перед тем, как рассчитать налог на прибыль (п.36 ст.264 НК РФ).</li>
							<li>Для УСН «доходы минус расходы» услуги компании «Верные решения» включаются в расходы для расчета единого налога. (п. 15 ст. 346.16 НК РФ).</li>
							<li>При УСН на 6% налогов только на доходы, расходы на бухгалтерское обслуживание не учитываются.</li>
						</ol>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">А если начинается налоговая проверка?</div>
					<div class="faq-ooo__answer">
						<p>Наша компания полностью сопроводит налоговую проверку и обеспечит ее положительный результат. Вашего участия в этом процессе не потребуется, для специалистов «Верных решений» налоговая проверка – обычный рабочий момент, который не пугает, не вызывает паники, не стопорит нашу работу.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Кто возместит штрафные санкции?</div>
					<div class="faq-ooo__answer">
						<p>Наши специалисты полностью берут на себя ответственность за свою работу, но от ошибок или недочетов не застрахован никто. Если штрафы будут наложены из-за наших недочетов, то сумма штрафов и пеней будет возмещена Вам в полном объеме.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какие гарантии, что вы нас не бросите при проверке?</div>
					<div class="faq-ooo__answer">
						<p>Наша ответственность полностью оформлена договором на оказание услуг бухгалтерского учета. Более того, мы не боимся налоговых проверок, это обычные рабочие моменты. Если Вашу компанию преследуют незаконно или наложили необоснованные штрафные санкции, — специалисты ООО «Верные решения» представят Вас в суде и обжалуют незаконные решения налоговиков.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какую ответственность вы несете?</div>
					<div class="faq-ooo__answer">
						<p>Если Вы перейдете к нам на бухгалтерское обслуживание, то, согласно договора, мы отвечаем финансово и юридически за все санкции, наложенные после проверки, если это произошло по нашей вине. Подробно наша ответственность описана в документации, оформляющей наши отношения (договор).</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Как передавать первичную документацию?</div>
					<div class="faq-ooo__answer">
						<p>Мы предлагаем несколько вариантов передачи документации нашим специалистам, Вы можете выбрать подходящий: курьерская доставка; сканы документов по электронной почте; самостоятельная доставка бумаг в наш офис.</p>
						<p>Все нюансы (вид доставки, периодичность, список необходимых документов) будут обговорены перед заключением договора об оказании бухгалтерских услуг и обязательно зафиксированы в документах. Гарантия сохранности документов и конфиденциальности информации также прописана в договоре.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Вы будете делать нам новую базу или возьмете нашу?</div>
					<div class="faq-ooo__answer">
						<p>Нашим специалистам необходимо предоставить Вашу базу для проверки. Если после тщательного анализа не будет выявлено никаких критичных проблем, недочетов или существенных ошибок, то возможна работа в Вашей базе. В том случае, если Ваша база не соответствует стандартам, — мы создаем новую, переносим все необходимое в нее (справочники, остатки, последние данные из Вашей отчетности) и приступаем к работе.</p>
						<p>Тот же алгоритм работы действителен и если Вы вели бухгалтерию в любой другой программе, формирующей отчетность.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Как перейти к вам на бухгалтерское обслуживание?</div>
					<div class="faq-ooo__answer">
						<p>Очень просто, получите выгрузку из базы бухгалтерской программы, в которой ведется учет. Этого достаточно, чтобы мы начали бухгалтерское сопровождение Вашего бизнеса в полном объеме.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Нужно ли доплачивать за программу 1С?</div>
					<div class="faq-ooo__answer">
						<p>Общая сумма, которую Вы заплатите за обслуживание, прописана в договоре на услуги бухгалтерского учета с нашей организацией. Никаких дополнительных выплат или затрат у Вас не будет. Бухгалтерская программа также дополнительно не оплачивается.</p>
					</div>
				</div>
			</div>
			<button type="button" class="btn-faq jscallback">Заказать консультацию</button>
		</section> -->
		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
