<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block top-block--izm">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/izmdecor.png" alt="" class="top-block__decoration">
					<div class="top-block__details">
						<h1 class="top-block__title">Представительство в судах<br> в Ростове-на-Дону и области<span>Окажем комплексную юридическую поддержку</span></h1>
						<div class="top-block__description">По результатам анализа Вашей ситуации мы предоставим максимально детализированный план мероприятий с указанием стоимости. При этом накопленный опыт позволяет нам сэкономить время и деньги на всех этапах, где это возможно.</div>
					</div>
					<img src="img/slide1.png" alt="" class="top-block__img" style="margin-top: 52px;">
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Нужно оценить судебные перспективы?</div>
					<div class="top-block__description-right">Закажите бесплатную консультацию и мы оценим шансы в вашем споре</div>
					<button type="button" class="top-block__btn jscallback">Получить консультацию</button>
					<div class="top-block__decoration-right">%</div>
				</div>
			</div>
		</section>
		<section class="reviews  reviews--buh">
			<div class="reviews__wrapper">
				<h2 class="reviews__slogan">Обезопасьте свой бизнес, сотрудничая с нами</h2>
				<p class="reviews__description">Приходите на бесплатную консультацию и убедитесь в реальности отзывов</p>
				<div class="reviews__list">
					<div class="review">
						<div class="review__author">
							<img src="img/avatar1.jpg" alt="" class="review__avatar">
							<div class="review__details">
								<div class="review__author-name"><strong>Торговля автошинами</strong><br>01.02.2018</div>
							</div>
						</div>
						<div class="review__text review__text--big">
							<p><strong>Продавец вернул задолженность за поставленный товар</strong><br><br>Между компаниями был заключен договор поставки автошин. Первые партии поставленного товара покупатель оплачивал своевременно. Зарекомендовав себя как добросовестный контрагент...</p>
							<button type="button" class="review__more" data-full="0">•</button>
						</div>
					</div>
					<div class="review">
						<div class="review__author">
							<img src="img/avatar2.jpg" alt="" class="review__avatar">
							<div class="review__details">
								<div class="review__author-name"><strong>Торговля оборудованием</strong><br>01.12.2017</div>
							</div>
						</div>
						<div class="review__text review__text--big">
							<p><strong>Взыскание средств с должника за поставку товара</strong><br><br>Между компаниями был заключен договор поставки промышленного оборудования и комплектующих. Долгое время фирмы работали, не нарушая условий договора, товар поставлялся в кредит...</p>
							<button type="button" class="review__more" data-full="1">•</button>
						</div>
					</div>
					<div class="review">
						<div class="review__author">
							<img src="img/avatar3.jpg" alt="" class="review__avatar">
							<div class="review__details">
								<div class="review__author-name"><strong>Строительные работы</strong><br>08.03.2018</div>
							</div>
						</div>
						<div class="review__text review__text--big">
							<p><strong>Оспаривание муниципального контракта на строительные работы</strong><br><br>Клиент стал победителем электронного аукциона на выполнение строительных работ образовательного учреждения в качестве Подрядчика в рамках Федерального закона № 44-ФЗ...</p>
							<button type="button" class="review__more" data-full="2">•</button>
						</div>
					</div>
				</div>

			</div>
		</section>
		<div class="review-full hidden">
			<button class="review-full__close" type="button" title="Закрыть" data-full="0">Закрыть</button>
			<div class="review-full__author">
				<img src="img/avatar1.jpg" alt="" class="review-full__avatar">
				<div class="review-full__details">
					<div class="review-full__author-name">Торговля автошинами, 01.02.2018</div>
					<div class="review-full__rating">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
					</div>
				</div>
			</div>
			<p class="review-full__text">
				<strong>С какой проблемой обратился клиент?</strong><br>
				Между компаниями был заключен договор поставки автошин. Первые партии поставленного товара покупатель оплачивал своевременно. Зарекомендовав себя как добросовестный контрагент и получив возможность приобретать товар в кредит, Покупатель стал допускать нарушение сроков оплаты. Данные действия Покупателя повлекли за собой неоплату последней партии товара, в результате чего у Поставщика возникли убытки в размере около 7 миллионов рублей.<br><br>
				<strong>Решение:</strong><br>
				Юристы компании «Верные решения» провели анализ действующего договора с покупателем, составили досудебную претензию, в результате которой Покупатель оплатил товар на сумму 902 000 рублей. В последующем было составлены необходимые процессуальные документы, обеспечено юридическое сопровождение, в том числе при переговорах с представителем покупателя о возврате задолженности. В результате компании заключили мировое соглашение о погашении суммы задолженности и компенсации судебных расходов, которое было утверждено Арбитражным судом Ростовской области.<br><br>
				<strong>Результат:</strong><br>
				Возврат долга в досудебном порядке 902 000 руб., после утверждения мирового соглашения возвращено задолженность в размере 5 702 326 рублей и компенсированы судебные расходы в размере 80 000 руб.
			</p>
		</div>
		<div class="review-full hidden">
			<button class="review-full__close" type="button" title="Закрыть" data-full="1">Закрыть</button>
			<div class="review-full__author">
				<img src="img/avatar2.jpg" alt="" class="review-full__avatar">
				<div class="review-full__details">
					<div class="review-full__author-name">Торговля оборудованием, 01.12.2017</div>
					<div class="review-full__rating">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
					</div>
				</div>
			</div>
			<p class="review-full__text">
				<strong>С какой проблемой обратился клиент?</strong><br>
				Между компаниями был заключен договор поставки промышленного оборудования и комплектующих. Долгое время фирмы работали, не нарушая условий договора, товар поставлялся в кредит. Но после смены директора у должника, отношения между компаниями изменились: должник начал нарушать сроки оплаты, из-за чего задолженность стремительно выросла. Требования о погашении долга игнорировались.<br><br>
				<strong>Решение:</strong><br>
				Юристами компании «Верные решения» были разработаны стратегии защиты в суде, составлены необходимые процессуальные документы, обеспечено юридическое сопровождение на протяжении всего судебного разбирательства. В результате чего исковые требования клиента были удовлетворены в полном объёме, а также с должника в полном объеме были взысканы судебные расходы.<br><br>
				<strong>Результат:</strong><br>
				Взыскано более 1 000 000 руб.
		</p>
		</div>
		<div class="review-full hidden">
			<button class="review-full__close" type="button" title="Закрыть" data-full="2">Закрыть</button>
			<div class="review-full__author">
				<img src="img/avatar3.jpg" alt="" class="review-full__avatar">
				<div class="review-full__details">
					<div class="review-full__author-name">Строительные работы, 08.03.2018</div>
					<div class="review-full__rating">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
					</div>
				</div>
			</div>
			<p class="review-full__text">
				<strong>С какой проблемой обратился клиент?</strong><br>
				Клиент стал победителем электронного аукциона на выполнение строительных работ образовательного учреждения в качестве Подрядчика в рамках Федерального закона № 44-ФЗ. Между клиентом и муниципальным заказчиком был заключен контракт на сумму 54 млн.рублей. УФАС обратилось в суд с исковым заявлением о признании недействительным электронного аукциона, контракта и наложении обеспечительных мер (приостановка строительных работ). В результате этих требований суд мог обязать вернуть денежные средства в бюджет в полном объеме и привлечь к уголовной ответственности, а также требовать занесения клиента в реестр недобросовестных поставщиков.<br><br>
				<strong>Решение:</strong><br>
				Юристы компании «Верные решения» подготовили все необходимые документы для защиты интересов клиента в Арбитражном суде, обеспечили юридическое сопровождение на протяжении всего судебного процесса. В результате судебных разбирательств с клиента были сняты все обеспечительные меры и сохранена репутация компании.<br><br>
				<strong>Результат:</strong><br>
				Полностью выплачена вся сумма по контракту в размере 54 000 000 руб.
			</p>
		</div>
	<section class="izm-cases">
		<h2 class="izm-cases__title">Услуги по представлению интересов клиента в суде</h2>
		<div class="izm-cases__list">
			<div class="izm-case">
				<div class="izm-case__title">Анализ представленных документов и правовая оценка ситуации</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Изучение и проведение юридического анализа представленных Заказчиком документов, относящихся к предмету спора, дача предварительного устного заключения о судебной перспективе дела.</li>
							<li>Анализ законодательства, регулирующего требования Заказчика.</li>
							<li>Выработка стратегии защиты.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Претензионная работа</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Составление и отправка претензии Должнику.</li>
							<li>Отслеживание доставки претензии и контролирование сроков ответа на претензию.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Представление интересов в судебном заседании (упрощенное производство)</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Составление искового заявления в Арбитражный суд.</li>
							<li>Комплектация документов для подачи искового заявления.</li>
							<li>Подача искового заявления в Арбитражный суд Ростовской области.</li>
							<li>Отслеживание движения гражданского дела.</li>
							<li>Составление отзыва на возражения Должника.</li>
							<li>Составление и подача ходатайства о взыскании судебных расходов.</li>
							<li>Отслеживание рассмотрения судом ходатайства.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Представление интересов в судебном заседании (исковое производство)</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Составление искового заявления в Арбитражный суд.</li>
							<li>Комплектация документов для подачи искового заявления.</li>
							<li>Подача искового заявления в Арбитражный суд.</li>
							<li>Отслеживание движения гражданского дела.</li>
							<li>Ознакомление с материалами дела.</li>
							<li>Участие в судебном заседании.</li>
							<li>Составление ходатайства о рассмотрении дела в отсутствии сторон.</li>
							<li>Предоставление возражений на отзыв Должника, доказательств, ходатайств.</li>
							<li>Составление и подача ходатайства о взыскании судебных расходов.</li>
							<li>Отслеживание рассмотрения судом ходатайства.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Сопровождение в исполнительном производстве</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Составление и подача в Арбитражный суд заявления на изготовление исполнительных листов на основании Решения и определения Арбитражного суда.</li>
							<li>Получение исполнительного листа.</li>
							<li>Розыск банковских счетов должника.</li>
							<li>Предъявления исполнительных листов в банк, в котором находятся счета Должника.</li>
							<li>Предъявление исполнительных листов в службу судебных приставов.</li>
							<li>Работа со службой судебных приставов: подача заявлений, жалоб на действия судебного пристава-исполнителя.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


		<section class="izm-attention">
			<div class="izm-attention__decor">!</div>
			<div class="izm-attention__details">
				<div class="izm-attention__title">Внимание!</div>
				<div class="izm-attention__description">Оказываем профессиональную юридическую поддержку не только со стороны Истца, но так же и со стороны Ответчика. Поможем защитить бизнес от необоснованных судебных претензий!</div>
			</div>
			<div class="izm-attention__action">
				<div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div>
				<button type="button" class="izm-attention__btn jscallback">Заказать консультацию</button>
			</div>
		</section>
		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/stuff.html') %> -->
		<section class="tariff-ooo tariff-ooo--buh" >
			<div class="tariff-ooo__wrapper">
				<div class="tariff-ooo__title" id="tariff">Стоимость услуг</div>
				<div class="tariff-ooo__description">Оплата услуг может производится поэтапно</div>
				<!-- <div class="tariff-ooo__discount">Внимание! При необходимости внесения нескольких изменений - предоставляем скидки!</div> -->
				<form class="calc-izm">
					<div class="calc-ip__part calc-ip__part--border-right">
						<div class="calc-ip__title">Необходимые документы:</div>
						<div class="calc-ip__details">Для анализа ситуации нужны следующие документы:
							<ul>
								<li>Договора, счета, счета-фактуры, товарные накладные, товарно-транспортные накладные, акты сверки.</li>
								<li>Претензии в адрес Ответчика, ответы от Ответчика на претензии.</li>
								<li>Учредительные документы, Свидетельства о постановке на налоговый учет и Свидетельство о внесении записи в ЕГРЮЛ или ЕГРИП.</li>
								<li>Иные документы, исходя из стратегии защиты.</li>
							</ul>
						</div>
					</div>
					<div class="calc-ip__part calc-ip__part--border-right">
						<div class="calc-ip__title">Стоимость услуг:</div>
						<div class="calc-ip__tariff">Цена: <span id="calc_result" style="font-size: 14px;">после бесплатной консультации</span><span class="calc-ooo__currency"></span></div>
						<div class="calc-ip__details">
							В стоимость входит:
							<ul class="calc-ip__list">
								<li class="calc-ip__action">исчерпывающая консультация по рассматриваемым вопросам;</li>
								<li class="calc-ip__action">подготовка комплекта документов и проверка их на соответствие законодательству;</li>
								<li class="calc-ip__action">подача специалистами документов в соответствующую инстанцию и получение документов.</li>
							</ul>
							<p class="calc-ip__comment">Госпошлина и услуги нотариуса в стоимость услуг не входят.</p>
						</div>
					</div>
					<div class="calc-ip__part calc-ip__part--lead">
						<div class="calc-ip__title">Заявка на бесплатную консультацию:</div>
						<div class="calc-ip__lead">Оставьте заявку на бесплатную консультацию:</div>
						<div class="calc-ip__group calc-ip__group--lead" id="for-name">
							<label for="name">Как к Вам обращаться?<sup>*</sup></label><br>
							<input type="text" name="" value="" id="name">
						</div>
						<div class="calc-ip__group calc-ip__group--lead" id="for-phone">
							<label for="phone">Номер телефона<sup>*</sup></label><br>
							<input type="text" name="" value="" id="phone">
						</div>
						<!-- <div class="calc-ip__group calc-ip__group--lead">
							<label for="mail">Ваш электронный адрес</label><br>
							<input type="text" name="" value="" id="mail">
						</div> -->
						<p class="lead-pd">Отправляя данные через форму заявки, вы принимаете <a href="/terms.html" target="_blank">политику конфиденциальности</a> и соглашаетесь с обработкой персональных данных.</p>
						<div id="sendleaderror"></div>
						<button type="submit" class="btn-lead" id="sendlead">Отправить</button>
					</div>
				</form>
			</div>
		</section>
		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %> -->
		<!-- <section class="faq-ooo">
			<div class="faq-ooo__title">Ответы на частые вопросы ???</div>
			<div class="faq-ooo__description">Если вы не найдете ответ на свой вопрос, то вы можете <a href="#" class="jscallback">заказать консультацию</a> и мы свяжемся с вами в ближайшее время</div>
			<div class="faq-ooo__list">
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Кто может не вести бухгалтерский учет?</div>
					<div class="faq-ooo__answer">
						<p>По закону только индивидуальные предприниматели, которые работают на УСН, либо применяют ЕНВД, могут не вести бухгалтерию в полном объеме. При этом они сохраняют за собой право пользоваться бланками бухгалтерской отчетности, например, при расчетах с контрагентами.</p>
						<p>ИП на «Упрощенке» обязаны вести Книгу учета доходов и расходов, чтобы правильно выполнять свои налоговые обязательства.</p>
						<p>ООО всегда ведут бухгалтерский учет в полном объеме с помощью штатного сотрудника либо сторонней организаций. Никаких исключений в этом случае нет.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какие штрафы за неправильное ведение учета?</div>
					<div class="faq-ooo__answer">
						<p>Если проверка налоговыми сотрудниками выявит нарушения в бухгалтерской документации и отчетности, то штрафные санкции будут наложены сразу: первое нарушение — 10 000, повторное — 30 000.</p>
						<p>В том случае, если выявляются недочеты не за один отчетный период, штрафы могут быть намного выше. При этом, если проверяющие выяснят, что Вы своими действиями пытались снизить налоги и уменьшить налогооблагаемую базу, то в бюджет уйдет еще и 20% от суммы налога, который организация бы заплатила при правильном расчете. Эта сумма не может быть ниже 40 000.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Ежемесячное обслуживание или ежеквартальное?</div>
					<div class="faq-ooo__answer">
						<p>Ежемесячное бухгалтерское обслуживание – это возможность полностью отказаться от штатного бухгалтера, получив качественное обслуживание во всех бухгалтерских мелочах. В комплекс услуг входит полноценное ведение учета и обеспечение сдачи всей необходимой отчетности.</p>
						<p>Ежеквартальное бухгалтерское сопровождение – Вы получаете грамотно подготовленную квартальную отчетность без ведения бухгалтерского учета. В этом режиме можно получить небольшие бухгалтерские услуги.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Во сколько обойдется ведение бухгалтерского учета?</div>
					<div class="faq-ooo__answer">
						<p>На консультации или во время заключения договора мы, совместно с Вами, рассчитываем объем бухгалтерских услуг, необходимых именно для Вашей организации. В итоговую сумму будет включены такие нюансы, как сфера деятельности предприятия, размер документооборота, режим используемой системы налогообложения. Наши цены приемлемы даже для малого бизнеса и гораздо выгоднее, чем найм штатного бухгалтера.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Что входит в полное ежемесячное обслуживание?</div>
					<div class="faq-ooo__answer">
						<p>Наша компания оказывает широкий спектр услуг по ведению бухгалтерского учета. Ежемесячно наши специалисты будут:</p>
						<ul>
							<li>формировать первичную документацию (счета-фактуры, акты, накладные и т.д.) с занесением их в базу 1С;</li>
							<li>составлять и проводить платежные поручения;</li>
							<li>рассчитывать и начислять заработную плату и дополнительные выплаты сотрудникам;</li>
							<li>рассчитывать и проверять целесообразность налоговых выплат;</li>
							<li>рассчитывать и проверять целесообразность налоговых выплат;</li>
							<li>Обеспечивать индивидуальный подход и давать грамотные консультации по любому вопросу в рамках договора на оказание бухгалтерских услуг;</li>
						</ul>
						<p>Бонусом клиент получает подробные и полезные консультации по оптимизации налогообложения и законному уменьшению налогооблагаемой базы.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Можно ли ваши услуги учесть как расходы?</div>
					<div class="faq-ooo__answer">
						<p>Большинство наших клиентов, действительно, смогут с нами сэкономить еще и на налоге. Есть несколько вариантов:</p>
						<ol>
							<li>Если у Вас ОСН (общая система налогообложения), то сумму наших бухгалтерских услуг Вы включаете в затраты, перед тем, как рассчитать налог на прибыль (п.36 ст.264 НК РФ).</li>
							<li>Для УСН «доходы минус расходы» услуги компании «Верные решения» включаются в расходы для расчета единого налога. (п. 15 ст. 346.16 НК РФ).</li>
							<li>При УСН на 6% налогов только на доходы, расходы на бухгалтерское обслуживание не учитываются.</li>
						</ol>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">А если начинается налоговая проверка?</div>
					<div class="faq-ooo__answer">
						<p>Наша компания полностью сопроводит налоговую проверку и обеспечит ее положительный результат. Вашего участия в этом процессе не потребуется, для специалистов «Верных решений» налоговая проверка – обычный рабочий момент, который не пугает, не вызывает паники, не стопорит нашу работу.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Кто возместит штрафные санкции?</div>
					<div class="faq-ooo__answer">
						<p>Наши специалисты полностью берут на себя ответственность за свою работу, но от ошибок или недочетов не застрахован никто. Если штрафы будут наложены из-за наших недочетов, то сумма штрафов и пеней будет возмещена Вам в полном объеме.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какие гарантии, что вы нас не бросите при проверке?</div>
					<div class="faq-ooo__answer">
						<p>Наша ответственность полностью оформлена договором на оказание услуг бухгалтерского учета. Более того, мы не боимся налоговых проверок, это обычные рабочие моменты. Если Вашу компанию преследуют незаконно или наложили необоснованные штрафные санкции, — специалисты ООО «Верные решения» представят Вас в суде и обжалуют незаконные решения налоговиков.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какую ответственность вы несете?</div>
					<div class="faq-ooo__answer">
						<p>Если Вы перейдете к нам на бухгалтерское обслуживание, то, согласно договора, мы отвечаем финансово и юридически за все санкции, наложенные после проверки, если это произошло по нашей вине. Подробно наша ответственность описана в документации, оформляющей наши отношения (договор).</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Как передавать первичную документацию?</div>
					<div class="faq-ooo__answer">
						<p>Мы предлагаем несколько вариантов передачи документации нашим специалистам, Вы можете выбрать подходящий: курьерская доставка; сканы документов по электронной почте; самостоятельная доставка бумаг в наш офис.</p>
						<p>Все нюансы (вид доставки, периодичность, список необходимых документов) будут обговорены перед заключением договора об оказании бухгалтерских услуг и обязательно зафиксированы в документах. Гарантия сохранности документов и конфиденциальности информации также прописана в договоре.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Вы будете делать нам новую базу или возьмете нашу?</div>
					<div class="faq-ooo__answer">
						<p>Нашим специалистам необходимо предоставить Вашу базу для проверки. Если после тщательного анализа не будет выявлено никаких критичных проблем, недочетов или существенных ошибок, то возможна работа в Вашей базе. В том случае, если Ваша база не соответствует стандартам, — мы создаем новую, переносим все необходимое в нее (справочники, остатки, последние данные из Вашей отчетности) и приступаем к работе.</p>
						<p>Тот же алгоритм работы действителен и если Вы вели бухгалтерию в любой другой программе, формирующей отчетность.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Как перейти к вам на бухгалтерское обслуживание?</div>
					<div class="faq-ooo__answer">
						<p>Очень просто, получите выгрузку из базы бухгалтерской программы, в которой ведется учет. Этого достаточно, чтобы мы начали бухгалтерское сопровождение Вашего бизнеса в полном объеме.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Нужно ли доплачивать за программу 1С?</div>
					<div class="faq-ooo__answer">
						<p>Общая сумма, которую Вы заплатите за обслуживание, прописана в договоре на услуги бухгалтерского учета с нашей организацией. Никаких дополнительных выплат или затрат у Вас не будет. Бухгалтерская программа также дополнительно не оплачивается.</p>
					</div>
				</div>
			</div>
			<button type="button" class="btn-faq jscallback">Заказать консультацию</button>
		</section> -->
		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
