<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/doc.png" alt="" class="top-block__decoration">
					<img src="img/man.png" alt="" class="top-block__img">
					<div class="top-block__details">
						<h1 class="top-block__title">Регистрация ИП в ИФНС<br><span>Поможем открыть ИП в Ростове-на-Дону под ключ!</span></h1>
						<div class="top-block__description">Если Вы опасаетесь трудностей, либо у Вас нет времени на посещение налоговых органов, чтобы открыть ИП, то рекомендуем воспользоваться помощью специалистов! Наша компания имеет многолетний опыт работы в сфере регистрации бизнеса и мы сможем дать ответы на множество Ваших вопросов:</div>
						<ul class="top-block__advantages">
							<li>как лучше открыть ИП;</li>
							<li>способы снижения налоговой нагрузки;</li>
							<li>получение субсидий на развитие бизнеса;</li>
							<li>и многие другие!</li>
						</ul>
					</div>
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Уменьшите расходы на<br><span>3 000 руб!</span></div>
					<div class="top-block__description-right">В отличии от других компаний мы зарегистрируем ИП без затрат на нотариальные услуги!<br><br>Это позволит вам сэкономить<br><span>2 000 - 3 000 руб!</span></div>
					<button type="button" class="top-block__btn jscallback">Заказать консультацию</button>
				</div>
			</div>
		</section>
		<section class="infographic">
			<div class="infographic__title">С нами вы получите больше, но за меньший срок</div>
			<div class="infographic__description">Схема регистрации ИП и выгода от сотрудничества с нами</div>
			<div class="schema">
				<div class="schema__row1">
					<div class="schema__row1-left">Обращение клиента в нашу компанию</div>
					<div class="schema__row1-center">Подача документов в ИФНС</div>
					<div class="schema__row1-right">Получение документов<br><span>Открытие расчетного счета, печать и консультации</span></div>
				</div>
				<div class="schema__row2">
					<div class="schema__row2-left">Подготовка документов в день обращения</div>
					<div class="schema__row2-right">Через три дня</div>
				</div>
				<div class="schema__row3">
					<div class="schema__row3-left">Экономите 1 день. Не берем деньги за срочность!</div>
					<div class="schema__row3-right">Экономите 1 день. Откроем р/сч в день получения документов!</div>
				</div>
			</div>
			<div class="infographic__details">Всего 4 дня и вы получаете документы об открытии ИП с расчетным счетом, печатью и консультацией бухгалтера по дальнейшему ведению вашего бизнеса!</div>
			<a href="#tariff" class="btn-do-calc">Рассчитать стоимость</a>
		</section>
		<section class="allrus">
			<div class="allrus__wrapper">
				<div class="allrus__title">Регистрируем по всей России</div>
				<div class="allrus__description">Регистрируем ООО в других регионах, дистанционно, а так же онлайн.</div>
				<div class="allrus__vars">
					<div class="allrus__var">
							<div class="allrus__var-title">Регистрация ООО в других регионах РФ для клиентов из Ростова-на-Дону</div>
							<ul class="allrus__var-list">
								<li>Подготовим пакет документов</li>
								<li>Обеспечим отправку документов в ИФНС в другом регионе</li>
								<li>Проконтролируем регистрацию ООО и получение документов из ИФНС.</li>
							</ul>
					</div>
					<div class="allrus__var allrus__var--center">
							<div class="allrus__var-title">Регистрация ООО в Ростовской области для клиентов из других регионов</div>
						<ul class="allrus__var-list">
							<li>Подберем юридический адрес</li>
							<li>Подготовим и вышлем пакет документов по электронной почте</li>
							<Li>Получим от вас подписанные документы</Li>
							<li>Подадим и заберем документы из ИФНС</li>
							<li>Отправим готовые документы вам</li>
						</ul>
					</div>
					<div class="allrus__var">
						<div class="allrus__var-title">Регистрация ООО с иностранными учредителями</div>
						<p>Проведем процедуру регистрации максимально быстро и комфортно для вас!</p>
					</div>
				</div>
			</div>
		</section>
		<section class="advantages-ooo">
			<div class="advantages-ooo__wrapper">
				<h2 class="advantages-ooo__title">Наши преимущества</h2>
				<p class="advantages-ooo__description">Предлагаем услуги высокого качества на выгодных условиях</p>
				<div class="advantages-ooo__list">
					<div class="advantages-ooo__four">
						<div class="advantages-ooo__items">
							<div class="advantages-ooo__item advantages-ooo__item--pic1">Максимально<br>быстро</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic2">По минимальной<br>цене</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic3">Без пробок и лишних<br>поездок</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic4">Мы обслуживаем<br>без очередей</div>
						</div>
						<div class="advantages-ooo__online">
							<button type="button" class="advantages-ooo__online-btn jscallback">Заказать онлайн</button>
							<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
						</div>
					</div>
					<div class="advantages-ooo__one">
						<div class="advantages-ooo__one-text">
							<p class="advantages-ooo__one-title">Мы все сделаем за Вас!</p>
							<p class="advantages-ooo__one-details">
								В отличие от других он-лайн сервисов, мы не заставим вас заполнять огромные формы, в которых легко запутаться и всего лишь одна ошибка может привести к отказу в регистрации и потере денежных средств.
								<br><br>Просто расскажите, чем планируете заниматься и мы все оформим за вас!
							</p>
						</div>
						<img src="img/man2.jpg" alt="" class="advantages-ooo__one-img">
					</div>
				</div>
			</div>
		</section>
		<%= require('html-loader?attrs=false&minimize=false!./common/stuff.html') %>
		<section class="tariff-ooo" >
			<div class="tariff-ooo__wrapper">
				<div class="tariff-ooo__title" id="tariff">Стоимость регистрации ООО</div>
				<div class="tariff-ooo__description">Варьируется в зависимости от необходимого вам набора услуг</div>
				<form class="calc-ooo">
					<div class="calc-ooo__part calc-ooo__part--border-right">
						<div class="calc-ooo__title">Выберите опции:</div>
						<div class="calc-ooo__group calc-ooo__group--top">
							<label for="num_uch">Количество учредителей:</label><br>
							<div  class="number">
								<input type="text" id="num_uch" value="2">
								<span class="top" id="uch_plus"></span>
								<span class="bottom" id="uch_minus"></span>
							</div>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="address"><span></span>
							<label for="address">Нужен юридический адрес</label>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="foreign"><span></span>
							<label for="foreign">Учредители - иностранцы</label>
						</div>
						<div class="calc-ooo__group calc-ooo__group--border">
							<input type="checkbox" name="" value="" id="account"><span></span>
							<label for="account">Расчетный счет НЕ в банке-партнере</label>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="usn"><span></span>
							<label for="usn">Переход на УСН/ЕНВД</label>
						</div>
						<div class="calc-ooo__group calc-ooo__group--border">
							<input type="checkbox" name="" value="" id="stamp"><span></span>
							<label for="stamp">Изготовление печати</label>
						</div>
						<div class="calc-ooo__group">
							<!-- <button type="button" class="btn-calc">Рассчитать</button> -->
							<input type="checkbox" name="" value="" id="onlydocs"><span></span>
							<label for="onlydocs">Только подготовка документов</label>
						</div>
					</div>
					<div class="calc-ooo__part calc-ooo__part--border-right">
						<div class="calc-ooo__title">Расчет с пояснениями:</div>
						<div class="cal-ooo__tariff">Стоимость: <span id="calc_result">6 500</span><span class="cal-ooo__currency">  руб.</span></div>
						<div class="cal-ooo__details">
							В стоимость входит:
							<ul class="cal-ooo__list">
								<li class="cal-ooo__action" id="consultText">Консультация Юриста и Бухгалтера;</li>
								<li class="cal-ooo__action cal-ooo__action--hide" id="addressText">Предоставление юридического адреса;</li>
								<li class="cal-ooo__action">Подготовка полного пакета документов для регистрациии ООО;</li>
								<li class="cal-ooo__action" id="ifnsText">Сдача и получение документов в ИФНС;</li>
								<li class="cal-ooo__action" id="accountPartnerText">Открытие расчетного счета в банке-партнере;</li>
								<li class="cal-ooo__action cal-ooo__action--hide" id="accountText">Открытие расчетного счета в любом банке;</li>
								<li class="cal-ooo__action cal-ooo__action--hide" id="usnText">Переход ООО на УСН/ЕНВД;</li>
								<li class="cal-ooo__action cal-ooo__action--hide" id="stampText">Изготовление печати;</li>
							</ul>
							<p class="cal-ooo__comment">Дополнительно оплачиваются госпошлина за открытие ООО (4 000 руб.) и, при необходимости, нотариальные услуги.</p>
						</div>
					</div>
					<div class="calc-ooo__part">
						<div class="calc-ooo__title">Заявка на консультацию:</div>
						<div class="calc-ooo__lead">Оставьте заявку на бесплатную консультацию:</div>
						<div class="calc-ooo__group calc-ooo__group--lead calc-ooo__group--error" >
							<label for="name">Как к Вам обращаться?<sup>*</sup></label><br>
							<input type="text" name="" value="" id="name">
						</div>
						<div class="calc-ooo__group calc-ooo__group--lead calc-ooo__group--error">
							<label for="phone">Номер телефона<sup>*</sup></label><br>
							<input type="text" name="" value="" id="phone">
						</div>
						<div class="calc-ooo__group calc-ooo__group--lead calc-ooo__group--error">
							<label for="mail">Ваш электронный адрес<sup>*</sup></label><br>
							<input type="text" name="" value="" id="mail">
						</div>
						<button type="submit" class="btn-lead">Отправить</button>
					</div>
				</form>
			</div>
		</section>
		<section class="banks">
			<div class="banks__wrapper">
				<div class="banks__title">Мы рекомендуем</div>
				<div class="banks__description">Партнеры, с которыми мы сотрудничаем и которых мы рекомендуем своим клиентам</div>
				<div class="banks__list">
					<div class="banks__list-half">
						<script type="text/javascript" charset="utf-8" src="js/edge_includes/edge.6.0.0.min.js"></script>
						<style>.edgeLoad-EDGE-952087221 { visibility:hidden; }</style>
						<script>
							AdobeEdge.loadComposition('js/edge_includes/240x400', 'EDGE-952087221', {
								scaleToFit: "none",
								centerStage: "none",
								minW: "0px",
								maxW: "undefined",
								width: "240px",
								height: "400px"
							}, {"dom":{}}, {"dom":{}});
						</script>
						<div id="Stage" class="EDGE-952087221"></div>
						<div class="alfa">
							<div class="alfa__title">Оставьте заявку на открытие счета в Альфа-Банке в удобное время</div>
							<ul class="alfa__advantages">
								<li class="alfa__advantage">Высокое качество обслуживания</li>
								<li class="alfa__advantage">Выгодные условия открытия счета</li>
								<li class="alfa__advantage">Еще что-то</li>
							</ul>
							<button type="button" class="btn-alfa">Открыть счет</button>
						</div>
					</div>
					<div class="banks__list-half">
						<div class="banks__list-title">Наши партнеры:</div>
						<div class="banks__logo"><img src="img/bank_open.png" alt=""></div>
						<div class="banks__logo"><img src="img/bank_alfa.png" alt=""></div>
						<div class="banks__logo"><img src="img/bank_vtb.png" alt=""></div>
						<div class="banks__logo"><img src="img/bank_rosbank.png" alt=""></div>
					</div>
				</div>
			</div>
		</section>
		<%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %>
		<section class="faq-ooo">
			<div class="faq-ooo__title">Ответы на частые вопросы</div>
			<div class="faq-ooo__description">Если вы не найдете ответ на свой вопрос, то вы можете <a href="#">заказать консультацию</a> и мы свяжемся с вами в близжайшее время</div>
			<div class="faq-ooo__list">
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Нужен ли Нотариус?</div>
					<div class="faq-ooo__answer">
						<p>Нет, наши специалисты избавят Вас от лишних нотариальных расходов.</p>
						<p>Услуги нотариуса понадобятся только в том случае, когда сбором документов и подачей заявления занимается доверенное лицо, а не непосредственно учредитель.</p>
						<p>Стоимость нотариальных расходов (заверение заявления с единственным учредителем + доверенность) составляет примерно 4 000 - 6 000 рублей.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Возможно ли открыть ООО иностранцу?</div>
					<div class="faq-ooo__answer">
						<p>Нет, наши специалисты избавят Вас от лишних нотариальных расходов.</p>
						<p>Услуги нотариуса понадобятся только в том случае, когда сбором документов и подачей заявления занимается доверенное лицо, а не непосредственно учредитель.</p>
						<p>Стоимость нотариальных расходов (заверение заявления с единственным учредителем + доверенность) составляет примерно 4 000 - 6 000 рублей.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Обязательна ли печать ООО?</div>
					<div class="faq-ooo__answer">
						<p>Нет, наши специалисты избавят Вас от лишних нотариальных расходов.</p>
						<p>Услуги нотариуса понадобятся только в том случае, когда сбором документов и подачей заявления занимается доверенное лицо, а не непосредственно учредитель.</p>
						<p>Стоимость нотариальных расходов (заверение заявления с единственным учредителем + доверенность) составляет примерно 4 000 - 6 000 рублей.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Можно ли использовать домашний адрес?</div>
					<div class="faq-ooo__answer">
						<p>Нет, наши специалисты избавят Вас от лишних нотариальных расходов.</p>
						<p>Услуги нотариуса понадобятся только в том случае, когда сбором документов и подачей заявления занимается доверенное лицо, а не непосредственно учредитель.</p>
						<p>Стоимость нотариальных расходов (заверение заявления с единственным учредителем + доверенность) составляет примерно 4 000 - 6 000 рублей.</p>
					</div>
				</div>
			</div>
			<button type="button" class="btn-faq">Заказать консультацию</button>
		</section>
		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
