<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/doc.png" alt="" class="top-block__decoration">
					<img src="img/man.png" alt="" class="top-block__img">
					<div class="top-block__details">
						<h1 class="top-block__title">Регистрация ООО<br><span>в Ростове-на-Дону на выгодных условиях</span></h1>
						<div class="top-block__description">Наши специалисты каждый день регистрируют по несколько фирм и знают ответы на все интересующие Вас вопросы как по подготовке документов для регистрации ООО, так и по обеспечению дальнейшей деятельности предприятия.</div>
						<ul class="top-block__advantages">
							<li>участие в программах субсидий;</li>
							<li>оптимизация налогообложения;</li>
							<li>порядок работы с наличными.</li>
						</ul>
					</div>
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Уменьшите расходы на<br><span>6 000 руб!</span></div>
					<div class="top-block__description-right">В отличии от других компаний мы зарегистрируем ООО без затрат на нотариальные услуги!<br><br>Это позволит вам сэкономить<br><span>4 000 - 6 000 руб!</span></div>
					<button type="button" class="top-block__btn jscallback">Заказать консультацию</button>
				</div>
			</div>
		</section>
		<section class="infographic">
			<div class="infographic__title">С нами вы получите больше, но за меньший срок</div>
			<div class="infographic__description">Схема офромления ООО и выгода от сотрудничества с нами</div>
			<div class="schema">
				<div class="schema__row1">
					<div class="schema__row1-left">Обращение клиента в нашу компанию</div>
					<div class="schema__row1-center">Подача документов в ИФНС</div>
					<div class="schema__row1-right">Получение документов<br><span>Открытие расчетного счета, печать и консультации</span></div>
				</div>
				<div class="schema__row2">
					<div class="schema__row2-left">Подготовка документов в день обращения</div>
					<div class="schema__row2-right">Через три дня</div>
				</div>
				<div class="schema__row3">
					<div class="schema__row3-left">Экономите 1 день. Не берем деньги за срочность!</div>
					<div class="schema__row3-right">Экономите 1 день. Откроем р/сч в день получения документов!</div>
				</div>
			</div>
			<div class="infographic__details">Всего 4 дня и вы получаете готовую компанию с расчетным счетом, печатью и консультацией бухгалтера по дальнейшему ведению вашего бизнеса!</div>
			<button type="button" class="btn-do-calc">Рассчитать стоимость</button>
		</section>
		<section class="allrus">
			<div class="allrus__wrapper">
				<div class="allrus__title">Регистрируем по всей России</div>
				<div class="allrus__description">Регистрируем ООО в других регионах, дистанционно, а так же онлайн.</div>
				<div class="allrus__vars">
					<div class="allrus__var">
							<div class="allrus__var-title">Регистрация ООО в других регионах РФ для клиентов из Ростова-на-Дону</div>
							<ul class="allrus__var-list">
								<li>Подготовим пакет документов</li>
								<li>Обеспечим отправку документов в ИФНС в другом регионе</li>
								<li>Проконтролируем регистрацию ООО и получение документов из ИФНС.</li>
							</ul>
					</div>
					<div class="allrus__var allrus__var--center">
							<div class="allrus__var-title">Регистрация ООО в Ростовской области для клиентов из других регионов</div>
						<ul class="allrus__var-list">
							<li>Подберем юридический адрес</li>
							<li>Подготовим и вышлем пакет документов по электронной почте</li>
							<Li>Получим от вас подписанные документы</Li>
							<li>Подадим и заберем документы из ИФНС</li>
							<li>Отправим готовые документы вам</li>
						</ul>
					</div>
					<div class="allrus__var">
						<div class="allrus__var-title">Регистрация ООО с иностранными учредителями</div>
						<p>Проведем процедуру регистрации максимально быстро и комфортно для вас!</p>
					</div>
				</div>
			</div>
		</section>
		<section class="advantages-ooo">
			<div class="advantages-ooo__wrapper">
				<h2 class="advantages-ooo__title">Наши преимущества</h2>
				<p class="advantages-ooo__description">Предлагаем услуги высокого качества на выгодных условиях</p>
				<div class="advantages-ooo__list">
					<div class="advantages-ooo__four">
						<div class="advantages-ooo__items">
							<div class="advantages-ooo__item advantages-ooo__item--pic1">Максимально<br>быстро</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic2">По минимальной<br>цене</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic3">Без пробок и лишних<br>поездок</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic4">Мы обслуживаем<br>без очередей</div>
						</div>
						<div class="advantages-ooo__online">
							<button type="button" class="advantages-ooo__online-btn">Заказать онлайн</button>
							<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
						</div>
					</div>
					<div class="advantages-ooo__one">
						<div class="advantages-ooo__one-text">
							<p class="advantages-ooo__one-title">Мы все сделаем за Вас!</p>
							<p class="advantages-ooo__one-details">
								В отличие от других он-лайн сервисов, мы не заставим вас заполнять огромные формы, в которых легко запутаться и всего лишь одна ошибка может привести к отказу в регистрации и потере денежных средств.
								<br><br>Просто расскажите, чем планируете заниматься и мы все оформим за вас!
							</p>
						</div>
						<img src="img/man2.jpg" alt="" class="advantages-ooo__one-img">
					</div>
				</div>
			</div>
		</section>
		<%= require('html-loader?attrs=false&minimize=false!./common/stuff.html') %>
		<section class="tariff-ooo">
			<div class="tariff-ooo__wrapper">
				<div class="tariff-ooo__title">Стоимость регистрации ООО</div>
				<div class="tariff-ooo__description">Варьируется в зависимости от необходимого вам набора услуг</div>
				<form class="calc-ooo">
					<div class="calc-ooo__part calc-ooo__part--border-right">
						<div class="calc-ooo__title">Выберите опции:</div>
						<div class="calc-ooo__group">
							<label for="num_uch">Количество учредителей:</label>
							<input type="number" id="num_uch">
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="docs">
							<label for="docs">Подготовка документов</label>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="foreign">
							<label for="foreign">Учредители иностранцы</label>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="account">
							<label for="account">Открытие расчетного счета</label>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="address">
							<label for="address">Нужен Юр. Адрес</label>
						</div>
						<div class="calc-ooo__group">
							<input type="checkbox" name="" value="" id="tax">
							<label for="tax">Госпошлина</label>
						</div>
					</div>
					<div class="calc-ooo__part calc-ooo__part--border-right">
						<div class="calc-ooo__title">Расчет с пояснениями:</div>
						<div class="cal-ooo__tariff">Стоимость: <span id="calc_result">6 000 руб.</span></div>
						<div class="cal-ooo__details">
							В стоимость входит:
							<ul>
								<li>Консультация Юриста и Бухгалтера</li>
								<li>Подготовка полного пакета документов для регистрациии ООО</li>
								<li>Оформление ООО специалистами нашей компаниии передача полученных ФНС документов</li>
								<li>Подготовка документов для открытия расчетного счета по требованиям банка</li>
								<li>Организация открытия расчетного счета в офисе компании</li>
							</ul>
							Дополнительно оплачиваются госпошлина за открытие ООО (4 000 руб.) и, при необходимости, нотариальные услуги.
						</div>
					</div>
					<div class="calc-ooo__part">
						<div class="calc-ooo__title">Заявка на консультацию:</div>
						Оставьте заявку на бесплатную консультацию:
						<div class="calc-ooo__group">
							<label for="name">Как к Вам обращаться?*</label>
							<input type="text" name="" value="" id="name">
						</div>
						<div class="calc-ooo__group">
							<label for="phone">Номер телефона*</label>
							<input type="text" name="" value="" id="phone">
						</div>
						<div class="calc-ooo__group">
							<label for="mail">Ваш электронный адрес*</label>
							<input type="text" name="" value="" id="mail">
						</div>
						<button type="submit" class="stuff__btn jscallback">Заказать консультацию</button>
					</div>
				</form>
			</div>
		</section>
		<section class="banks">

		</section>
		<%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %>
		<section class="faq-ooo">

		</section>
		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
