<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader?attrs=false&minimize=false!./common/assets.html') %>
</head>
<%= require('html-loader?attrs=false&minimize=false!./common/header.html') %>
		<section class="top-block top-block--izm top-block--banki">
			<div class="top-block__wrapper">
				<div class="top-block__left">
					<img src="img/izmdecor.png" alt="" class="top-block__decoration">
					<div class="top-block__details">
						<h1 class="top-block__title">Споры с банками<br> в Ростове-на-Дону и области<span>Окажем комплексную юридическую поддержку</span></h1>
						<div class="top-block__description">Интересы банков отстаивает целый штат профильных юристов. Чем раньше вы обратитесь к профессиональным защитникам с опытом в кредитных спорах, тем больше шансов будет у вас отстоять свои интересы.</div>
					</div>
					<img src="img/slide1.png" alt="" class="top-block__img" style="margin-top: 52px;">
				</div>
				<div class="top-block__right">
					<div class="top-block__title-right">Нужно оценить судебные перспективы кредитного спора?</div>
					<div class="top-block__description-right">Закажите бесплатную консультацию и мы оценим шансы в вашем споре с банком</div>
					<button type="button" class="top-block__btn jscallback">Записаться на бесплатную консультацию</button>
					<!-- <div class="top-block__decoration-right">%</div> -->
				</div>
			</div>
		</section>
		<section class="reviews reviews--buh">
			<div class="reviews__wrapper">
				<h2 class="reviews__slogan">Обезопасьте свой бизнес, сотрудничая с нами</h2>
				<p class="reviews__description">Приходите на бесплатную консультацию и убедитесь в реальности отзывов</p>
				<div class="reviews__list">
					<div class="review">
						<div class="review__author">
							<img src="img/avatar1.jpg" alt="" class="review__avatar">
							<div class="review__details">
								<div class="review__author-name"><strong>Торговля пивом</strong><br>01.02.2018</div>
							</div>
						</div>
						<div class="review__text review__text--big">
							<p><strong>Урегулирование задолженности перед бюджетом и кредиторами</strong><br><br>Торговая компания обратилась за помощью для урегулирования вопроса по задолженности перед бюджетами и кредиторам. Общество долгое время работало на рынке продаж пива...</p>
							<button type="button" class="review__more" data-full="0">•</button>
						</div>
					</div>
					<div class="review">
						<div class="review__author">
							<img src="img/avatar2.jpg" alt="" class="review__avatar">
							<div class="review__details">
								<div class="review__author-name"><strong>Сельхозпредприятие</strong><br>01.12.2017</div>
							</div>
						</div>
						<div class="review__text review__text--big">
							<p><strong>Спасение компании от процедуры банкротства</strong><br><br>Сельхозпредприятие обратилось с проблемой нехватки средств на погашение кредита. Банк решил ввести процедуру банкротства и начал принимать меры по реализации залогового имущества...</p>
							<button type="button" class="review__more" data-full="1">•</button>
						</div>
					</div>
					<div class="review">
						<div class="review__author">
							<img src="img/avatar3.jpg" alt="" class="review__avatar">
							<div class="review__details">
								<div class="review__author-name"><strong>Сотрудник компании</strong><br>08.03.2018</div>
							</div>
						</div>
						<div class="review__text review__text--big">
							<p><strong>Освобождение от обязанности гасить «чужие» кредиты</strong><br><br>Сотрудник компании оформил по просьбе директора кредит на свое имя, а также стал поручителем по другим кредитам своего руководителя. В результате непогашения кредитов руководителем...</p>
							<button type="button" class="review__more" data-full="2">•</button>
						</div>
					</div>
				</div>

			</div>
		</section>
		<div class="review-full hidden">
			<button class="review-full__close" type="button" title="Закрыть" data-full="0">Закрыть</button>
			<div class="review-full__author">
				<img src="img/avatar1.jpg" alt="" class="review-full__avatar">
				<div class="review-full__details">
					<div class="review-full__author-name">Торговля пивом, 01.02.2018</div>
					<div class="review-full__rating">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
					</div>
				</div>
			</div>
			<p class="review-full__text">
				<strong>С какой проблемой обратился клиент?</strong><br>
				Торговая компания обратилась за помощью для урегулирования вопроса по задолженности перед бюджетами и кредиторам. Общество долгое время работало на рынке продаж пива и пивных напитков. Однако в 2016 году произошел спад реализации продукции в связи с проводимой государством программой «Здоровая Россия». Таким образом, у Общества возникли проблемы с нехваткой денежных средств для оплаты налогов и кредитов, что могло повлечь за собой реализацию залогового имущества и уголовное преследование за неуплату налогов.<br><br>
				<strong>Решение:</strong><br>
				Юристы компании «Верные решения» разработали соглашение о расторжении кредитного договора с фиксацией суммы долга, т.е. приостановкой начисления процентов и штрафных санкций, а также соглашение о погашении кредитных обязательств путем реализации имущества через торги, которые будут проходить под контролем государственного органа.<br><br>
				<strong>Результат:</strong><br>
				Финансовая выгода клиента составила 1 033 553 руб. (Дело № 2-1619/2017 – Советский районный суд г. Ростова-на-Дону)
			</p>
		</div>
		<div class="review-full hidden">
			<button class="review-full__close" type="button" title="Закрыть" data-full="1">Закрыть</button>
			<div class="review-full__author">
				<img src="img/avatar2.jpg" alt="" class="review-full__avatar">
				<div class="review-full__details">
					<div class="review-full__author-name">Сельхозпредприятие, 01.12.2017</div>
					<div class="review-full__rating">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
					</div>
				</div>
			</div>
			<p class="review-full__text">
				<strong>С какой проблемой обратился клиент?</strong><br>
				Сельхозпредприятие обратилось с поблемой нехватки средств на погашение кредита. Банк решил ввести процедуру банкротства и начал принимать меры по реализации залогового имущества. Клиенту важно было сохранить свой производственный комплекс, т.к. на нем велась деятельность компании.<br><br>
				<strong>Решение:</strong><br>
				Юристы компании «Верные решения» подготовили все документы для защиты интересов клиента в судебном процессе. В результате судебных разбирательств иск кредитора удовлетворен частично, т.е. взыскана задолженность в размере фактически признанном клиентом, также судом отказано в удовлетворении требований банка по взысканию процентов за пользование кредитом, обращении взыскания на заложенное имущество. Остановлены начисления процентов, пеней, штрафов. Установлен удобный график погашения. Имущество компании было защищено.<br><br>
				<strong>Результат:</strong><br>
				Организация продолжает свою деятельность. Финансовая выгода клиента: сохранение имущества, которое клиент продолжает использовать в своей хозяйственной деятельности, погашение задолженности по щадящему графику, остановка начисления процентов. Основная выгода клиента заключается в избежание проведения процедуры банкротства и реализации имущества с молотка. (Дело № 2-19/2016 – Зерноградский районный суд Ростовской области).
		</p>
		</div>
		<div class="review-full hidden">
			<button class="review-full__close" type="button" title="Закрыть" data-full="2">Закрыть</button>
			<div class="review-full__author">
				<img src="img/avatar3.jpg" alt="" class="review-full__avatar">
				<div class="review-full__details">
					<div class="review-full__author-name">Сотрудник компании, 08.03.2018</div>
					<div class="review-full__rating">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
						<img src="img/star.png" alt="">
					</div>
				</div>
			</div>
			<p class="review-full__text">
				<strong>С какой проблемой обратился клиент?</strong><br>
				Сотрудник компании оформил по просьбе директора кредит на свое имя, а также стал поручителем по другим кредитам своего руководителя. В результате непогашения кредитов руководителем, возникла задолженность, которая легла на плечи сотрудника. Банк стал списывать задолженность в размере 100% средств, поступающих на карту сотрудника, в связи с чем, он остался без средств к существованию. Директор отказывался погашать свои задолженности.<br><br>
				<strong>Решение:</strong><br>
				Специалисты компании «Юрист» разобрали ситуацию, в которую попал клиент. Разработали план конкретных решений, для снятия финансовой ответственности с сотрудника. Разработали и подали исковое заявления в Кировский районный суд г.Ростова-на-Дону. В результате судебных разбирательств был получен исполнительный лист на имя директора клиента о взыскании с него сумм долга.<br><br>
				<strong>Результат:</strong><br>
				Снятие всех требований банка с клиента. Экономия клиента составила 800 000 руб.
			</p>
		</div>
		<section class="advantages-ooo advantages-ooo--tmp advantages-ooo--buh">
			<div class="advantages-ooo__wrapper">
				<h2 class="advantages-ooo__title">Наши преимущества</h2>
				<p class="advantages-ooo__description">Предлагаем услуги высокого качества на выгодных условиях</p>
				<div class="advantages-ooo__list">
					<div class="advantages-ooo__four">
						<div class="advantages-ooo__items">
							<div class="advantages-ooo__item advantages-ooo__item--pic1">Максимально<br>быстро</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic2">Без скрытых<br>платежей	</div>
							<div class="advantages-ooo__item advantages-ooo__item--pic3">Персональная<br>ответственность<br>специалиста</div>
							<div class="advantages-ooo__item advantages-buh__item--pic4">Обратная связь от<br>специалиста<br>по услуге</div>
						</div>
						<div class="advantages-ooo__online">
							<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
							<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
						</div>
					</div>
					<div class="advantages-ooo__one">
						<div class="advantages-ooo__one-text">
							<p class="advantages-ooo__one-title">Получите гарантии качества оказываемых услуг!</p>
							<p class="advantages-ooo__one-details">
								Специалист несет персональную ответственность за качество и сроки предоставления услуг.
								<br><br>
								Наша 100% ответственность перед вами будет оформлена договором.
							</p>
						</div>
						<img src="img/man2.jpg" alt="" class="advantages-ooo__one-img">
					</div>
				</div>
				<div class="advantages-ooo__online advantages-ooo__online--mobile">
					<button type="button" class="advantages-ooo__online-btn jscallback">Заказать звонок</button>
					<div class="advantages-ooo__online-text">Оставьте заявку и менеджер проконсультирует о схеме работы</div>
				</div>
			</div>
		</section>
		<section class="izm-attention izm-attention--banki">
			<div class="izm-attention__decor">!</div>
			<div class="izm-attention__details">
				<div class="izm-attention__title">Внимание!</div>
				<div class="izm-attention__description">Разбирательство с банками требует особого внимания и ответственности. Чтобы избежать отказа, поручите эту процедуру профессиональным юристам с большим опытом в данном направлении. Это позволит сократить финансовые издержки, которые могут появиться в случае ошибок.</div>
			</div>
			<div class="izm-attention__action">
				<!-- <div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div> -->
				<button type="button" class="izm-attention__btn jscallback">Записаться на бесплатную консультацию</button>
			</div>
		</section>
	<section class="izm-cases izm-cases--lik">
		<h2 class="izm-cases__title">Список типовых ситуаций</h2>
		<div class="izm-cases__list">
			<!-- <div class="izm-case">
				<div class="izm-case__title">Подбор оптимальной схемы кредитования</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Правовой анализ документов Клиентов, в том числе финансовых, с целью определения наиболее выгодных условий кредитования.</li>
							<li>Формирование пакета документов и предоставление в кредитные организации.</li>
							<li>Юридическое сопровождение при заключении кредитных договоров.</li>
						</ul>
					</div>
				</div>
			</div> -->
			<div class="izm-case">
				<div class="izm-case__title">Неисполнение кредитных обязательств</div>
				<div class="izm-case__details">Основными причинами такой ситуации могут быть: ухудшение финансового состояния, упадок потребительского спроса, неправильные управленческие решения и т.д.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Анализ финансового состояния клиента.</li>
							<li>Оказание помощи в переговорах с кредитором.</li>
							<li>Рефинансирование или реструктуризация долга.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Начисление банком пени, штрафов</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Определение правомерности начисления пени и штрафов.</li>
							<li>Проверка расчетов пени и штрафов.</li>
							<li>Проведение процедур по списанию штрафов и пени (внесудебные, судебные).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Защита имущества, находящегося в залоге</div>
				<div class="izm-case__details">Если не выполняются кредитные обязательства, то кредитор имеет право начать
				процедуру обращения взыскания на имущество, которое находится в залоге, как один из
				предусмотренных законом методов защиты своих финансовых интересов. Специалисты компании "Верные решения" не дадут банку забрать имущество и реализовать его за бесценок. Так же, при необходимости, мы окажем юридическую поддержку процедуры реализации имущества и поможем реализовать его по рыночной цене.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Внесудебное и судебное представление интересов клиента.</li>
							<li>Сопровождение при оценке имущества.</li>
							<li>Участие в процедуре обращения взыскания на имущество.</li>
							<li>Расторжение договора залога (при наличии соответствующих условий).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Защита имущества третьего лица, находящегося в залоге</div>
				<div class="izm-case__details">При обеспечении кредита залогом имущества третьих лиц в кредитном договоре
появляется еще один участник – залогодатель, который расплачивается по долгам
заемщика своим имуществом, если должник не вернет кредит. В залог передают как
движимое, так и недвижимое имущество: земельные участки, квартиру, офисы, транспорт
и т.д.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Проверка правовой природы договора залога.</li>
							<li>Внесудебное и судебное представление интересов клиента.</li>
							<li>Сопровождение при оценке имущества.</li>
							<li>Участие в процедуре обращения взыскания на имущество.</li>
							<li>Расторжение договора залога (при наличии соответствующих условий).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Защита поручителя по кредиту</div>
				<div class="izm-case__details">
					Сутью поручительства является то, что поручитель со своего согласия возлагает на себя
обязательство перед кредитором нести ответственность за должника в случае
неисполнения последним его обязательства перед кредитором.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Защита имущества поручителя.</li>
							<li>Внесудебное и судебное урегулирование.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Закредитованность компании</div>
				<div class="izm-case__details">
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Анализ финансового состояния клиента.</li>
							<li>Разработка методов (способов)	выхода из закредитованности, финансовое оздоровление.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Остановка роста долга компании</div>
				<div class="izm-case__details">Способы остановки роста долга: реструктуризация, рефинансирование, расторжение кредитного договора (судебное разбирательство), подведение долга к списанию, финансовое оздоровление.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Анализ финансового состояния клиента.</li>
							<li>Определение способа остановки	долга.</li>
							<li>Рекомендации по общению с кредиторами, оказание содействия при общении с кредиторами.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Реструктуризация долга</div>
				<div class="izm-case__details">Данная процедура останавливает увеличение задолженности по кредитному договору.
Плюсы: перестают начисляться штрафные санкции, сумма платежей снижается за счет
увеличения срока выплаты, фиксируется сумма долга.
Минусы: необоснованное увеличение суммы долга, увеличивается срок выплаты,
допустив просрочку по реструктуризации возвращается вся сумма кредита или заново
начнется начисление процентов.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Определение законности выставленной банком суммы и начисленных штрафов.</li>
							<li>Представление интересов клиента при подписании документов о	реструктуризации.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Рефинансирование долга</div>
				<div class="izm-case__details">Процесс рефинансирования предполагает оформление совершенно нового кредита для выполнения взятых на себя кредитных обязательств.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Подбор кредитной организации с учетом финансового состояния клиента и	экономической ситуации на рынке.</li>
							<li>Анализ условий рефинансирования выбранного клиентом банка.</li>
							<li>Юридическое сопровождение	клиента до заключения договора по рефинансированию.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Отказ Банка исполнять платежное поручение</div>
				<div class="izm-case__details">На основании Федерального закона от 07.08.2001 № 15-ФЗ «О противодействии
легализации (отмыванию) доходов, полученных преступным путем, и финансированию
терроризма» и писем ЦБ РФ Банк может отказать в переводе денежных средств в рамках
хозяйственных договоров, т.к. посчитал транзакцию подозрительной.

				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Неправомерное списание денежных средств со счета</div>
				<div class="izm-case__details">Причины необоснованного списания денежных средств с расчетного счета компании делятся на две группы. Первая: банк списывает деньги по собственной инициативе - погашение штрафов, пеней, различных кредитных обязательств. При этом банк может осуществить такие списания в независимости от того есть ли у него право на безакцептное списание или нет. К второй группе можно отнести мошеннические действия третьих лиц - списание банком денежных средств на основе подложных исполнительных листов, платежных поручений, переданных банку неуполномоченным лицом и т.п.
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Блокировка банковского счета</div>
				<div class="izm-case__details">Безусловная блокировка расчетного счета означает, что приостанавливаются все
банковские операции по нему. Основные причины блокировки счета: инициатива
налогового органа, инициатива Банка на основании ст.76 НК РФ, Федерального закона
от 07.08.2001 № 115-ФЗ «О противодействии легализации (отмыванию) доходов,
полученных преступным путем, и финансированию терроризма», письма ЦБ РФ.
<div class="izm-case__description">Перечень проводимых работ:
	<ul>
		<li>Анализ ситуации и составлении претензии в банк и ЦБ.</li>
	</ul>
</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Безакцептное списание</div>
				<div class="izm-case__details">По общему правилу денежные средства со счета своего клиента Банк вправе списать
только при наличии его согласия – акцепта. Однако из этого правила есть исключение,
которое позволяет Банку списывать деньги со счета своего клиента и без его согласия –
безакцептное списание. Основные причины безакцептного списания: согласие Клиента,
исполнительный лист или постановление судебного пристава-исполнителя, требование
налогового органа, взыскание недоимки по страховым взносам и т.д.
				</div>
			</div>
			<!-- <div class="izm-case">
				<div class="izm-case__title">Получение банковской гарантии</div>
				<div class="izm-case__details">Банковская гарантия – это письменное обязательство банка (гаранта) о принятии на себя
по просьбе другого лица (принципала) обязательства уплатить указанному им третьему
лицу (бенефициару) определенную денежную сумму в соответствии с условиями
данного гарантом обязательства независимо от действительности обеспечиваемого такой
гарантией обязательства.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Анализ соответствия требованиям банка, т.е. анализ финансовых документов Клиентов с целью определения возможности получения банковской гарантии.</li>
							<li>Формирование пакета документов и предоставление в кредитные организации.</li>
							<li>Юридическое сопровождение при заключении договоров банковской гарантии.</li>
						</ul>
					</div>
				</div>
			</div> -->
			<div class="izm-case">
				<div class="izm-case__title">Судебный спор с банком</div>
				<div class="izm-case__details">Виды споров с банками: защита имущества, расторжение кредитного договора, защита поручителей, отказ в выдачи кредита, отказ банка от заключения договора
банковского счета, нарушение банком банковской тайны, списание денежных без
согласия клиента, блокирование счетов и т.д.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Внесудебная защита (составление претензий и жалоб, проверка документов,	анализ финансового состояния клиентов и т.д.)</li>
							<li>Судебная защита (подача иска,	представление интересов клиента в судебном заседании и т.д.).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="izm-case">
				<div class="izm-case__title">Оформление кредита по поручению руководителя</div>
				<div class="izm-case__details">Возникают ситуации, когда руководители компании предлагают сотрудникам оформить
кредиты на личные нужды, а потом их тратят на цели предприятия. При этом ответственность по погашению кредита полностью ложится на работника.
					<div class="izm-case__description">Перечень проводимых работ:
						<ul>
							<li>Оформление правовых документов между работодателем и сотрудником.</li>
							<li>Защита интересов в суде, представление интересов в правоохранительных органах.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/stuff.html') %> -->
		<section class="tariff-ooo tariff-ooo--banki" >
			<div class="tariff-ooo__wrapper">
				<div class="tariff-ooo__title" id="tariff">Стоимость услуг</div>
				<!-- <div class="tariff-ooo__description">Оплата услуг может производится поэтапно</div> -->
				<!-- <div class="tariff-ooo__discount">Внимание! При необходимости внесения нескольких изменений - предоставляем скидки!</div> -->

				<form class="calc-izm">
					<div class="calc-ip__part calc-ip__part--border-right">
						<div class="calc-ip__title">Для анализа ситуации нужны следующие документы:</div>
						<div class="calc-ip__details">
							<ul class="calc-ip__list">
								<li class="calc-ip__action">Устав, учредительный договор.</li>
								<li class="calc-ip__action">Свидетельство о постановке на налоговый учет.</li>
								<li class="calc-ip__action">Свидетельство о внесении записи в ЕГРЮЛ или в ЕГРИП.</li>
								<li class="calc-ip__action">Кредитный договор.</li>
								<li class="calc-ip__action">График ежемесячных платежей.</li>
								<li class="calc-ip__action">Договор поручительства.</li>
								<li class="calc-ip__action">Договор залога.</li>
							</ul>
						</div>
					</div>
					<div class="calc-ip__part">
						<div class="calc-ip__title">В стоимость входит:</div>
						<!-- <div class="calc-ip__tariff">Цена: <span id="calc_result" style="font-size: 14px;">после бесплатной консультации</span><span class="calc-ooo__currency"></span></div> -->
						<div class="calc-ip__details">

							<ul class="calc-ip__list">
								<li class="calc-ip__action">исчерпывающая консультация по рассматриваемым вопросам;</li>
								<li class="calc-ip__action">подготовка комплекта документов и проверка их на соответствие законодательству;</li>
								<li class="calc-ip__action">подача специалистами документов в соответствующую инстанцию и получение документов.</li>
							</ul>
							<p class="calc-ip__comment">Госпошлина и услуги нотариуса в стоимость услуг не входят.</p>
						</div>
					</div>
					<!-- <div class="calc-ip__part calc-ip__part--lead">
						<div class="calc-ip__title">Заявка на бесплатную консультацию:</div>
						<div class="calc-ip__lead">Оставьте заявку на бесплатную консультацию:</div>
						<div class="calc-ip__group calc-ip__group--lead" id="for-name">
							<label for="name">Как к Вам обращаться?<sup>*</sup></label><br>
							<input type="text" name="" value="" id="name">
						</div>
						<div class="calc-ip__group calc-ip__group--lead" id="for-phone">
							<label for="phone">Номер телефона<sup>*</sup></label><br>
							<input type="text" name="" value="" id="phone">
						</div>
						<div class="calc-ip__group calc-ip__group--lead">
							<label for="mail">Ваш электронный адрес</label><br>
							<input type="text" name="" value="" id="mail">
						</div>
						<p class="lead-pd">Отправляя данные через форму заявки, вы принимаете <a href="/terms.html" target="_blank">политику конфиденциальности</a> и соглашаетесь с обработкой персональных данных.</p>
						<div id="sendleaderror"></div>
						<button type="submit" class="btn-lead" id="sendlead">Отправить</button>
					</div> -->
				</form>
				<!-- <div class="calc-ip__price">
					<div class="calc-ip__price-text">Стоимость: от 2 000 руб. <br>стоимость уточняйте после бесплатной консультации</div>
					<div class="calc-ip__price-btn">
						<div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div>
						<button type="button" class="izm-attention__btn jscallback">Записаться на бесплатную консультацию</button>
					</div>
				</div> -->

				<div class="izm-attention__details izm-attention--price">
					<div class="izm-attention__title">Стоимость: от 5 000 руб.</div>
					<div class="izm-attention__description">стоимость уточняйте после бесплатной консультации</div>
				</div>
				<div class="izm-attention__action izm-attention--price" >
					<!-- <div class="izm-attention__action-title">Мы будем рады сотрудничеству с Вами!</div> -->
					<button type="button" class="izm-attention__btn jscallback">Записаться на бесплатную консультацию</button>
				</div>




			</div>
		</section>
		<!-- <%= require('html-loader?attrs=false&minimize=false!./common/reviews.html') %> -->
		<!-- <section class="faq-ooo">
			<div class="faq-ooo__title">Ответы на частые вопросы ???</div>
			<div class="faq-ooo__description">Если вы не найдете ответ на свой вопрос, то вы можете <a href="#" class="jscallback">заказать консультацию</a> и мы свяжемся с вами в ближайшее время</div>
			<div class="faq-ooo__list">
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Кто может не вести бухгалтерский учет?</div>
					<div class="faq-ooo__answer">
						<p>По закону только индивидуальные предприниматели, которые работают на УСН, либо применяют ЕНВД, могут не вести бухгалтерию в полном объеме. При этом они сохраняют за собой право пользоваться бланками бухгалтерской отчетности, например, при расчетах с контрагентами.</p>
						<p>ИП на «Упрощенке» обязаны вести Книгу учета доходов и расходов, чтобы правильно выполнять свои налоговые обязательства.</p>
						<p>ООО всегда ведут бухгалтерский учет в полном объеме с помощью штатного сотрудника либо сторонней организаций. Никаких исключений в этом случае нет.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какие штрафы за неправильное ведение учета?</div>
					<div class="faq-ooo__answer">
						<p>Если проверка налоговыми сотрудниками выявит нарушения в бухгалтерской документации и отчетности, то штрафные санкции будут наложены сразу: первое нарушение — 10 000, повторное — 30 000.</p>
						<p>В том случае, если выявляются недочеты не за один отчетный период, штрафы могут быть намного выше. При этом, если проверяющие выяснят, что Вы своими действиями пытались снизить налоги и уменьшить налогооблагаемую базу, то в бюджет уйдет еще и 20% от суммы налога, который организация бы заплатила при правильном расчете. Эта сумма не может быть ниже 40 000.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Ежемесячное обслуживание или ежеквартальное?</div>
					<div class="faq-ooo__answer">
						<p>Ежемесячное бухгалтерское обслуживание – это возможность полностью отказаться от штатного бухгалтера, получив качественное обслуживание во всех бухгалтерских мелочах. В комплекс услуг входит полноценное ведение учета и обеспечение сдачи всей необходимой отчетности.</p>
						<p>Ежеквартальное бухгалтерское сопровождение – Вы получаете грамотно подготовленную квартальную отчетность без ведения бухгалтерского учета. В этом режиме можно получить небольшие бухгалтерские услуги.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Во сколько обойдется ведение бухгалтерского учета?</div>
					<div class="faq-ooo__answer">
						<p>На консультации или во время заключения договора мы, совместно с Вами, рассчитываем объем бухгалтерских услуг, необходимых именно для Вашей организации. В итоговую сумму будет включены такие нюансы, как сфера деятельности предприятия, размер документооборота, режим используемой системы налогообложения. Наши цены приемлемы даже для малого бизнеса и гораздо выгоднее, чем найм штатного бухгалтера.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Что входит в полное ежемесячное обслуживание?</div>
					<div class="faq-ooo__answer">
						<p>Наша компания оказывает широкий спектр услуг по ведению бухгалтерского учета. Ежемесячно наши специалисты будут:</p>
						<ul>
							<li>формировать первичную документацию (счета-фактуры, акты, накладные и т.д.) с занесением их в базу 1С;</li>
							<li>составлять и проводить платежные поручения;</li>
							<li>рассчитывать и начислять заработную плату и дополнительные выплаты сотрудникам;</li>
							<li>рассчитывать и проверять целесообразность налоговых выплат;</li>
							<li>рассчитывать и проверять целесообразность налоговых выплат;</li>
							<li>Обеспечивать индивидуальный подход и давать грамотные консультации по любому вопросу в рамках договора на оказание бухгалтерских услуг;</li>
						</ul>
						<p>Бонусом клиент получает подробные и полезные консультации по оптимизации налогообложения и законному уменьшению налогооблагаемой базы.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Можно ли ваши услуги учесть как расходы?</div>
					<div class="faq-ooo__answer">
						<p>Большинство наших клиентов, действительно, смогут с нами сэкономить еще и на налоге. Есть несколько вариантов:</p>
						<ol>
							<li>Если у Вас ОСН (общая система налогообложения), то сумму наших бухгалтерских услуг Вы включаете в затраты, перед тем, как рассчитать налог на прибыль (п.36 ст.264 НК РФ).</li>
							<li>Для УСН «доходы минус расходы» услуги компании «Верные решения» включаются в расходы для расчета единого налога. (п. 15 ст. 346.16 НК РФ).</li>
							<li>При УСН на 6% налогов только на доходы, расходы на бухгалтерское обслуживание не учитываются.</li>
						</ol>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">А если начинается налоговая проверка?</div>
					<div class="faq-ooo__answer">
						<p>Наша компания полностью сопроводит налоговую проверку и обеспечит ее положительный результат. Вашего участия в этом процессе не потребуется, для специалистов «Верных решений» налоговая проверка – обычный рабочий момент, который не пугает, не вызывает паники, не стопорит нашу работу.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Кто возместит штрафные санкции?</div>
					<div class="faq-ooo__answer">
						<p>Наши специалисты полностью берут на себя ответственность за свою работу, но от ошибок или недочетов не застрахован никто. Если штрафы будут наложены из-за наших недочетов, то сумма штрафов и пеней будет возмещена Вам в полном объеме.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какие гарантии, что вы нас не бросите при проверке?</div>
					<div class="faq-ooo__answer">
						<p>Наша ответственность полностью оформлена договором на оказание услуг бухгалтерского учета. Более того, мы не боимся налоговых проверок, это обычные рабочие моменты. Если Вашу компанию преследуют незаконно или наложили необоснованные штрафные санкции, — специалисты ООО «Верные решения» представят Вас в суде и обжалуют незаконные решения налоговиков.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Какую ответственность вы несете?</div>
					<div class="faq-ooo__answer">
						<p>Если Вы перейдете к нам на бухгалтерское обслуживание, то, согласно договора, мы отвечаем финансово и юридически за все санкции, наложенные после проверки, если это произошло по нашей вине. Подробно наша ответственность описана в документации, оформляющей наши отношения (договор).</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Как передавать первичную документацию?</div>
					<div class="faq-ooo__answer">
						<p>Мы предлагаем несколько вариантов передачи документации нашим специалистам, Вы можете выбрать подходящий: курьерская доставка; сканы документов по электронной почте; самостоятельная доставка бумаг в наш офис.</p>
						<p>Все нюансы (вид доставки, периодичность, список необходимых документов) будут обговорены перед заключением договора об оказании бухгалтерских услуг и обязательно зафиксированы в документах. Гарантия сохранности документов и конфиденциальности информации также прописана в договоре.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Вы будете делать нам новую базу или возьмете нашу?</div>
					<div class="faq-ooo__answer">
						<p>Нашим специалистам необходимо предоставить Вашу базу для проверки. Если после тщательного анализа не будет выявлено никаких критичных проблем, недочетов или существенных ошибок, то возможна работа в Вашей базе. В том случае, если Ваша база не соответствует стандартам, — мы создаем новую, переносим все необходимое в нее (справочники, остатки, последние данные из Вашей отчетности) и приступаем к работе.</p>
						<p>Тот же алгоритм работы действителен и если Вы вели бухгалтерию в любой другой программе, формирующей отчетность.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Как перейти к вам на бухгалтерское обслуживание?</div>
					<div class="faq-ooo__answer">
						<p>Очень просто, получите выгрузку из базы бухгалтерской программы, в которой ведется учет. Этого достаточно, чтобы мы начали бухгалтерское сопровождение Вашего бизнеса в полном объеме.</p>
					</div>
				</div>
				<div class="faq-ooo__item">
					<div class="faq-ooo__question">Нужно ли доплачивать за программу 1С?</div>
					<div class="faq-ooo__answer">
						<p>Общая сумма, которую Вы заплатите за обслуживание, прописана в договоре на услуги бухгалтерского учета с нашей организацией. Никаких дополнительных выплат или затрат у Вас не будет. Бухгалтерская программа также дополнительно не оплачивается.</p>
					</div>
				</div>
			</div>
			<button type="button" class="btn-faq jscallback">Заказать консультацию</button>
		</section> -->
		<%= require('html-loader?attrs=false&minimize=false!./common/invitation.html') %>
<%= require('html-loader?attrs=false&minimize=false!./common/footer.html') %>
