.allrus {
  @media (min-width: $tablet-width) {
    background: linear-gradient(#f7f7f7 80%, #fff 80%);
  }
}

.allrus--tmp {
  @media (min-width: $tablet-width) {
    background: #f7f7f7 80%;
  }
}

.allrus__wrapper {
  @mixin container;
  display: flex;
  flex-wrap: wrap;
}

.allrus__title {
  width: 100%;
  text-align: center;
  color: $color-slider;
  margin-top: 34px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 25px;
  }
}

.allrus__description {
  width: 100%;
  text-align: center;
  color: $color-slider;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 24px;
}

.allrus__vars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }
}

.allrus__var {

  padding-top: 30px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: calc(100%);
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
    width: calc(100%/3);
  }

  &--center {
    background: #e9e9e3;
  }

  &--ip {
    width: calc(100%);

    @media (min-width: $tablet-width) {
      width: calc(100%/2);
    }
  }
}

.allrus__var--first {
  margin-top: 20px;
  @media (min-width: $tablet-width) {
    margin-top: 56px;
  }
}

.allrus__var p {
  color: $color-slider;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.allrus__var-title {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  min-height: 50px;
}

.allrus__var-list {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-right: 2%;
  margin-bottom: 24px;
  list-style: none;
}

.allrus__var-list li {
  color: $color-slider;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 15px;

  &::before {
    color: $color-price;
    content: "•";
    padding-right: 10px;
   }
}
