.infographic {
  @mixin container;
  display: flex;
  flex-wrap: wrap;
}

.infographic__title {
  width: 100%;
  text-align: center;
  color: $color-slider;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 50px;
}

.infographic__description {
  width: 100%;
  text-align: center;
  color: $color-slider;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 25px;
}

.infographic-description {
  width: 100%;
}

.schema {
  width: 100%;
  background: transparent url('../public/img/arrows.png') center 205px no-repeat;
}

.schema__row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.schema__row1-left, .schema__row1-center, .schema__row1-right {

  margin-top: 50px;
  padding-top: 75px;
  color: $color-slider;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.schema__row1-left {
  margin-left: 7%;
  width: 160px;
  background: transparent url('../public/img/2man.png') 45px 0px no-repeat;
}

.schema__row1-center {
  width: 160px;
  background: transparent url('../public/img/sheet.png') 45px 0px no-repeat;
}

.schema__row1-right {
  margin-right: 6%;
  width: 180px;
  background: transparent url('../public/img/manflag.png') 57px 0px no-repeat;

  & span {
    color: #616161;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
  }
}

.schema__row2 {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.schema__row2-left, .schema__row2-right {
  color: #616161;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
}

.schema__row2-left {
  margin-left: 20.7%;
}

.schema__row2-right {
  margin-right: 28%;
}

.schema__row3 {
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.schema__row3-left, .schema__row3-right {
  color: #e64545;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
}

.schema__row3-left {
  margin-left: 21.7%;
  width: 20%;
  text-align: center;
}

.schema__row3-right {
  margin-right: 21%;
  width: 20%;
  text-align: center;
}

.infographic__details {
  padding: 0 20%;
  margin-top: 35px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.btn-do-calc {
  @mixin btn;
  border: 1px solid #ff5b5b;
  background-color: #fff;
  color: inherit;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 51px;

  &:hover {
    background-color: #ed5353;
    color: #fff;
  }
}
