.infographic {
  @mixin container;
  display: flex;
  flex-wrap: wrap;
}

.infographic__title {
  width: 100%;
  text-align: center;
  color: $color-slider;
  margin-top: 50px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 25px;
  }
}

.infographic__description {
  width: 100%;
  text-align: center;
  color: $color-slider;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 25px;
}

.infographic-description {
  width: 100%;
}

.schema {
  width: 100%;
  display: flex;
  background: transparent url('../public/img/arrows90.png') no-repeat;
  background-position: 150px 78px;
  background-size: auto 70%;

  @media (min-width: $tablet-width) {
    display: block;
    background: transparent url('../public/img/arrows.png') no-repeat;
    background-position: center 220px;
    background-size: 76% auto;
  }

  @media (min-width: $desktop-width) {
    background-position: center 205px;
    background-size: auto auto;
  }
}

.schema__row1 {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
  }

}

.schema__row1-left, .schema__row1-center, .schema__row1-right {

  margin-top: 50px;
  padding-top: 75px;
  color: $color-slider;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.schema__row1-left {
  width: 150px;
  background: transparent url('../public/img/2man.png') no-repeat;
  background-position: 45px 0px;

  @media (min-width: $tablet-width) {
    margin-left: 7%;
    width: 160px;
    background-position: 45px 0px;
  }

  @media (min-width: $desktop-width) {
  }
}

.schema__row1-center {
  width: 150px;
  background: transparent url('../public/img/sheet.png') no-repeat;
  background-position: 45px 0px;

  @media (min-width: $tablet-width) {
    width: 160px;
    background-position: 45px 0px;
  }

  @media (min-width: $desktop-width) {
  }
}

.schema__row1-right {
  width: 150px;
  background: transparent url('../public/img/manflag.png') no-repeat;
  background-position: 57px 0px;

  & span {
    color: #616161;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    margin-right: 6%;
    width: 180px;
    background-position: 57px 0px;
  }

  @media (min-width: $desktop-width) {
  }

}

.schema__row2 {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
  }
}

.schema__row2-left, .schema__row2-right {
  color: #616161;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  width: 150px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  & div {
    color: #e64545;
    margin-top: 15px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }
  }
}

.schema__row2-left {
  margin-left: 20px;
  margin-top: 150px;


  @media (min-width: $tablet-width) {
    margin-left: 12%;
    margin-top: 0px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15%;
  }
}

.schema__row2-right {
  margin-left: 20px;
  margin-bottom: 140px;

  @media (min-width: $tablet-width) {
    margin-right: 12%;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 13%;
  }
}

.schema__row3 {
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.schema__row3-left, .schema__row3-right {
  color: #e64545;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
}

.schema__row3-left {
  margin-left: 21.7%;
  width: 20%;
  text-align: center;
}

.schema__row3-right {
  margin-right: 21%;
  width: 20%;
  text-align: center;
}

.infographic__details {
  padding: 0 3%;
  margin-top: 15px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;


  @media (min-width: $tablet-width) {
    margin-top: 35px;
    padding: 0 20%;
  }
}

.btn-do-calc {
  @mixin btn;
  border: 1px solid #ff5b5b;
  background-color: #fff;
  color: inherit;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 51px;
  text-decoration: none;

  &:hover {
    background-color: #ed5353;
    color: #fff;
  }
}
