.tariff-ooo {
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(#fff 417px, #f7f7f7 417px);
  }
}

.tariff-ooo__wrapper {
  @mixin container;
  display: flex;
  flex-wrap: wrap;
}

.tariff-ooo__title {
  width: 100%;
  text-align: center;
  color: $color-slider;
  margin-top: 45px;

  font-size: 25px;
  line-height: 35px;
  font-weight: 400;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 25px;
  }
}

.tariff-ooo__description {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  color: $color-slider;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
}

.tariff-ooo__discount {
  margin-top: 44px;
  padding: 20px;
  width: 100%;
  /*border: 1px solid #e2e2e2;*/
  background: #438ad9;
  color: #f6f6f6;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.calc-ooo, .calc-ip, .calc-buh, .calc-izm {

  width: 100%;
  border: 1px solid #e2e2e2;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }


}

.calc-ooo__part, .calc-ip__part {
  width: calc(100%);
  background: #fff;

  &--border-right {
    border-right: 1px solid #e2e2e2;
  }

  @media (min-width: $tablet-width) {
    width: calc(100%/3*1);
    /*&--lead {
      width: calc(100%/3*1);
    }*/
  }

  @media (min-width: $desktop-width) {

  }
}

.calc-ooo__title, .calc-ip__title {
  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 6.7%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background: #f3f3f3;
}

.calc-ooo__group, .calc-ip__group {
  position: relative;
  padding-left: 30px;
  padding-right: 5px;
  /*margin-top: 18px;*/
  padding-bottom: 9px;
}

.calc-ooo__group--top, .calc-ip__group--top {
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 17px;
  padding-bottom: 20px;
}
.calc-ip__group--top {
  padding-bottom: 9px;
}


.calc-ooo__group--border, .calc-ip__group--border {
  padding-top: 25px;
  border-top: 1px solid #e2e2e2;
}

.calc-ooo__group--top .number, .calc-ip__group--top .number {
  margin-top: 6px;
}

.calc-ooo__group input[type="checkbox"], .calc-ip__group input[type="checkbox"],
.calc-ooo__group input[type="radio"], .calc-ip__group input[type="radio"] {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.calc-ooo__group--border input[type="checkbox"], .calc-ip__group--border input[type="checkbox"],
.calc-ooo__group--border input[type="radio"], .calc-ip__group--border input[type="radio"] {
  top: 28px;
}

.calc-ooo__group span, .calc-ip__group span {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background: #e2e2e2;
  border-radius: 3px;
  left: 0px;
  top: 3px;
  z-index: 1;
}

.calc-ooo__group input:checked + span::after, .calc-ip__group input:checked + span::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: transparent url('../public/img/v.svg') center center no-repeat;
}

.calc-ooo__group label, .calc-ip__group label {
  padding-left: 10px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #252525;
  cursor: pointer;
}

.calc-ooo__group--top label  {
  padding-left: 0px;
}

.calc-ooo__group .number, .calc-ip__group .number {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 36px;
}

.calc-ooo__group .number input, .calc-ip__group .number input{
  display: block;
  width: 30px;
  height: 36px;
  border-radius: 3px;
  background-color: #f2f2f2;
  box-shadow: none;
  border: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #252525;
  padding: 0 20px 0 10px;
}

.number .top {
  display: block;
  position: absolute;
  top: 0px;
  bottom: auto;
  right: 0px;
  left: auto;
  width: 17px;
  height: 18px;
  background: transparent url('../public/img/triangle.svg') center center no-repeat;
  transform: rotate(180deg);
  cursor: pointer;
}

.number .bottom {
  display: block;
  position: absolute;
  top: auto;
  bottom: 0px;
  left: auto;
  right: 0px;
  width: 18px;
  height: 18px;
  background: transparent url('../public/img/triangle.svg') center center no-repeat;
  cursor: pointer;
}

.btn-calc {
  @mixin btn;
  padding: 10px 55px 10px 55px;
  border: 1px solid #ff5b5b;
  background-color: #fff;
  color: inherit;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 40px;

  &:hover {
    background-color: #ed5353;
    color: #fff;
  }
}

.calc-ooo__tariff, .calc-ip__tariff {
  padding-top: 12px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #252525;
}

.calc-ooo__tariff span, .calc-ip__tariff span {
  padding-left: 15px;
  font-size: 26px;
  line-height: 30px;
  color: #ff5b5b;
  font-weight: 700;
}

.calc-ooo__tariff .calc-ooo__currency, .calc-ip__tariff .calc-ip__currency {
  font-size: 14px;
  color: #ff5b5b;
}

.calc-ooo__details, .calc-ip__details {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #252525;
}

.calc-ooo__list, .calc-ip__list {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  list-style: none;
  margin-right: 10%;
}

.calc-ooo__action, .calc-ip__action {
  padding-left: 20px;
  position: relative;
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #252525;

  &::before {
    position: absolute;
    color: #ff5b5b;
    content: "•";
    left: 0;
   }

   &--hide {
     display: none;
   }

   &&--none {
     text-decoration: line-through;
   }
}

.calc-ooo__comment, .calc-ip__comment {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #252525;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.calc-ooo__lead, .calc-ip__lead {
  padding-top: 17px;
  padding-left: 29px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #252525;
}

.calc-ooo__group--lead, .calc-ip__group--lead {
  padding-bottom: 14px;
}

.calc-ooo__group--error, .calc-ip__group--error {
  &::before {
    position: absolute;
    content: '';
    bottom: 30px;
    right: 155px;
    height: 0px;
    width: 0px;
    border: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.3);
  }
  &::after {
    position: absolute;
    right: 40px;
    bottom: 0%;
    content: 'Заполнено неверно!';
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    color: #355ddf;
    background: #fff;
    padding: 3px 10px;
    box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
}

.calc-ooo__group--lead label, .calc-ip__group--lead label {
  padding-left: 0px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  color: #252525;

  & sup {
    color: #ff5b5b;
  }
}

.calc-ooo__group--lead input, .calc-ip__group--lead input {
  margin-top: 9px;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 3px;
  background-color: #f2f2f2;
  box-shadow: none;
  border: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #252525;
  padding: 5px 10px;

  &:focus {
    outline: 1px solid #ff5b5b;
  }

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    width: 330px;
  }
}

.btn-lead {
  @mixin btn;
  padding: 13px 60px 13px 60px;
  background-color: #ff5b5b;
  margin-top: 11px;
  margin-left: 30px;
  margin-bottom: 50px;
  position: relative;

  &:hover {
    background-color: #ed5353;
  }
}

#sendleaderror {
  margin: 10px 30px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: red;
}

.calc-ooo__part .lead-pd, .calc-ip__part .lead-pd {
  margin: 0 30px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #7e7e7e;
  text-align: left;
  vertical-align: top;

}
